<ng-template #boxRef></ng-template>

<ng-template #gemRef>
  <app-gem
    class="cpd-gem"
    type="gem-6"
    colorType="light-yellow"
    [flipX]="true"
  ></app-gem>
</ng-template>

<div class="wrapper">
  <app-slide
    imageUrl="/assets/images/CPD-hero.jpg"
    header="Continuing Professional Development"
    [headerWidth]="headerWidthTypes.large"
    text="
      With risk management constantly evolving and new standards emerging
      every day, our Continuing Professional Development (CPD) program is
      structured to accommodate the diverse needs and career demands of
      an FRM® or ERP®. The program is designed to deliver a broad range of
      accessible programming to all FRMs and ERPs, regardless of personal
      time constraints or geographic location.
    "
    [textWidth]="headerWidthTypes.large"
    button="Submit Credits"
    subButton="Download CPD Handbook"
    [box]="boxRef"
    [gem]="gemRef"
  ></app-slide>

  <p class="main-text-mobile">
    With risk management constantly evolving and new standards emerging
    every day, our Continuing Professional Development (CPD) program is
    structured to accommodate the diverse needs and career demands of
    an FRM® or ERP®. The program is designed to deliver a broad range of
    accessible programming to all FRMs and ERPs, regardless of personal
    time constraints or geographic location.
  </p>

    <div class="section-main">
    <div class="row activities">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-4 activities-box">
              <h3 class="activities-box-title">
                REMAIN
              </h3>
              <p class="activities-box-text">
                connected to the risk<br> profession and your peers
              </p>
            </div>
            <div class="col-sm-4 activities-box">
              <h3 class="activities-box-title">
                DEMONSTRATE
              </h3>
              <p class="activities-box-text">
                to employers your commitment<br> to professional development
              </p>
            </div>
            <div class="col-sm-4 activities-box">
              <h3 class="activities-box-title">
                MAINTAIN
              </h3>
              <p class="activities-box-text">
                the highest standards in<br> risk management
              </p>
            </div>
          </div>
        </div>
        <h2 class="common-title activities-title">
          Featured Activities
        </h2>
        <div class="row">
          <div class="col-sm-12">
            <table class="table activities-table">
              <span class="diamond-rhombus diamond-rhombus-small diamond-rhombus-left"></span>
              <span class="diamond-rhombus diamond-rhombus-small diamond-rhombus-right"></span>
              <tbody>
                <tr>
                  <th><strong>Activity Type</strong></th>
                  <th><strong>Area of Study</strong></th>
                  <th><strong>Title</strong></th>
                  <th><strong>Provider</strong></th>
                  <th><strong>CPD&nbsp;Credit</strong></th>
                  <th><strong>Date</strong></th>
                </tr>
                <!--<tr data-ng-repeat="activity in activities.records | orderBy:'Featured_Order__c'">-->
                  <!--<td>{{ activity.Activity_Type_Description__c }}</td>-->
                  <!--<td>{{ activity.Area_of_Study__c }}</td>-->
                  <!--<td><a href="{{ activity.URL__c  }}" title="{{ activity.Name }}" alit="{{ activity.Name }}" target="_blank" class="g-u-font-medium"-->
                         <!--analytics-on-->
                         <!--analytics-event="offsite_link"-->
                         <!--analytics-category="page_content"-->
                         <!--analytics-label="cpd_overview_featuredactivity{{$index + 1}}">{{ activity.Name }}</a></td>-->
                  <!--<td>{{ activity.Provider__c || activity.Organization__c }}</td>-->
                  <!--<td>{{ activity.Credit__c }}</td>-->
                  <!--<td>{{ activity.Date_Description__c }}</td>-->
                <!--</tr>-->
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <a class="common-button" href="https://my.garp.org/sfdcApp#!/cpe_activities">
              See More Activities
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-providers">
    <app-gem
      class="providers-gem"
      type="gem-5"
      colorType="light-yellow"
    ></app-gem>
    <div class="providers-angle"></div>
    <div class="providers">
      <div class="row">
        <div class="col-sm-12 providers-content">
          <h2 class="common-title">
            Activity Providers
          </h2>
          <p class="providers-content-text">
            To help you identify additional opportunities, we have partnered with
            more than 40 organizations to bring you a multitude of pre-approved
            programming. Our approved Providers are vetted through the CPD committee
            and deliver a broad range of professional development opportunities.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6 providers-logo"> <!-- TODO: ng-repeat="provider in providers.records | limitTo:6" -->
          <span class="thumbnail">
            LOGO
            <!--<img ng-src="{{provider.CPE_Provider_Logo__c}}">-->
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 providers-logo">
          <span class="thumbnail">LOGO</span> <!-- TODO: REMOVER IT -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 providers-logo">
          <span class="thumbnail">LOGO</span> <!-- TODO: REMOVER IT -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 providers-logo">
          <span class="thumbnail">LOGO</span> <!-- TODO: REMOVER IT -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 providers-logo">
          <span class="thumbnail">LOGO</span> <!-- TODO: REMOVER IT -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 providers-logo">
          <span class="thumbnail">LOGO</span> <!-- TODO: REMOVER IT -->
        </div>
      </div>
      <div class="row text-center">
        <a class="providers-link">
          View more Providers
        </a>
      </div>
    </div>
  </div>

  <div class="section-cycles">
    <app-gem
      class="cycles-gem"
      type="gem-5"
      colorType="light-yellow"
      [flipX]="true"
    ></app-gem>
    <div class="cycles">
      <div class="row">
        <div class="col-sm-12 cycles-content">
          <h2 class="common-title">
            CPD cycles
          </h2>
          <p class="cycles-content-text">
            After becoming certified, you’ll be assigned a CPD cycle and expected
            to earn 40 credits every two years throughout your career. The CPD
            program is based on 24-month cycles and credits may be earned by
            participating in a wide range of learning activities. Participation in
            the program is optional for FRMs and mandatory for ERPs.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-maintain">
    <div class="maintain-angle"></div>
    <div class="maintain">
      <div class="row">
        <div class="col-sm-6 maintain-content">
          <h2 class="common-title">
            Recognition for<br> maintaining a higher<br> standard
          </h2>
          <div class="row">
            <div class="col-sm-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50" height="50" viewBox="0 0 16 16"><g class="nc-icon-wrapper" fill="#111111"><rect x="0.5" y="4.5" width="15" height="11" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"></rect> <polyline points="3.5 4.5 8 0.5 12.5 4.5" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"></polyline> <line x1="4.5" y1="8.5" x2="11.5" y2="8.5" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round" data-color="color-2"></line> <line x1="4.5" y1="11.5" x2="11.5" y2="11.5" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round" data-color="color-2"></line></g></svg>
            </div>
            <div class="col-sm-10">
              <h3 class="maintain-content-title">
                Acknowledgement of Completion
              </h3>
              <p class="maintain-content-text">
                Printable proof of your achievement in meeting the standards set
                forth in the CPD program.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" width="50" height="50"><g class="nc-icon-wrapper" fill="#111111"><circle cx="8" cy="5" r="4.5" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"></circle> <polyline points="6.88 11.512 4.799 15.5 3.575 12.605 0.5 13.257 2.813 8.824" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round" data-color="color-2"></polyline> <polyline points="13.187 8.824 15.5 13.257 12.425 12.605 11.201 15.5 9.12 11.512" fill="none" stroke="#111111" stroke-linecap="round" stroke-linejoin="round" data-color="color-2"></polyline></g></svg>
            </div>
            <div class="col-sm-10">
              <h3 class="maintain-content-title">
                Digital Badge
              </h3>
              <p class="maintain-content-text">
                Online verification of your certification and your participation in
                CPD on professional and social networking pages like LinkedIn,
                Twitter, a blog or website.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6"></div>
        <img class="img-responsive maintain-image" src="/assets/images/CPD-big-special-gem.png">
      </div>
    </div>
  </div>

  <div class="section-twitter">
    <app-conversation
      link="https://twitter.com/search?q=%23GARPCPD&src=typd"
    ></app-conversation>
  </div>
</div>
