<div class="wrapper">
  <app-line-title
    [title]="pageTitle"
    gemColor="light-cyan"
    type="events"
  ></app-line-title>

  <div class="section-events">
    <div class="row events">
      <div class="col-xs-12">
        <div
          class="event-box-wrapper"
          *ngFor="let event of events | slice:0:eventLimit"
          (click)="navigate(event)"
        >
          <div class="event-box">
            <div class="event-time">
              {{ event.nYDate }}
            </div>
            <h3 class="event-link-wrapper">
              <a class="event-link">
                {{ event.name }}
              </a>
            </h3>
            <div class="event-location">
              {{ event.location }}
            </div>
          </div>
        </div>
        <div class="event-button-wrapper" *ngIf="eventLimit < events.length">
          <a class="event-button" (click)="loadMore()">
            Load More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
