@import "../../../../../style-variables";
@import "../../../../styles/overviw";

.common {
  &-title {
    @include common-title;
  }

  &-text {
    @include common-text;
  }

  &-button {
    @include main-button;
  }
}

.section {
  &-advantage {
    @include section-advantage;
  }

  &-employers,
  &-twitter {
    @include section-employers-and-twitter;
  }

  &-compare,
  &-benefits {
    position: relative;
    margin-top: 2rem;
  }

  &-become {
    margin-top: 2rem;
  }

  &-twitter {
    margin-top: 12rem;
  }

  &-meet {
    padding: 0 0 100px;
    background-color: $c-light-white;
  }
}

.advantage {
  @include advantage;

  &-image {
    top: 20px;

    @media (min-width: 500px) {
      top: -90px;
    }
  }
}

.compare {
  @include compare;

  &-gem {
    right: 0;
    top: -240px;
  }

  &-box {
    @include common-diamond($c-primary-light);
  }

  &-table {
    border-color: $c-dark-blue;

    thead th {
      border-color: $c-dark-blue;
    }

    tbody tr {
      border-color: $c-dark-blue;

      td {
        border-color: $c-dark-blue;
      }
    }
  }
}

.employers {
  @include employers;

  &-angle {
    background-image: url(/assets/images/diagonal-white-top.svg);
  }

  &-list {
    li:before {
      color: $c-dark-blue;
    }
  }
}

.benefits {
  @include common-section;
  margin-top: 6rem;

  &-wrapper {
    position: relative;
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &-image {
    margin: 0 auto;
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-gem {
    @include common-gem;
    top: 108px;
    left: 0;
  }
}

.meet {
  @include meet;
}

.become {
  @include become;
}

.twitter {
  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-gem {
    @include common-gem;
    top: -90px;
    right: 0;
  }
}

.hero-box-mobile {
  @include common-hero-box-mobile;
}
