<ng-template #boxRef>
  <app-frm-hero-box-overview></app-frm-hero-box-overview>
</ng-template>

<div class="wrapper">
  <app-slide
    imageUrl="/assets/images/frm-index-bg.jpg"
    header="Financial Risk Manager (FRM®)"
    [headerWidth]="widthTypes.medium"
    subHeader="The global standard for financial risk."
    [subHeaderWidth]="widthTypes.medium"
    text="
      Recognized in every major market, the FRM is the leading certification for risk
      managers. It is consistently in demand by nearly every major bank and firm in
      the world, and is awarded only to professionals who demonstrate the knowledge
      and ability to anticipate, respond, and adapt to critical risk issues.
    "
    [textWidth]="widthTypes.medium"
    button="Register now"
    [reverseAngle]="true"
    [box]="boxRef"
  ></app-slide>

  <div class="hero-box-mobile">
    <ng-container *ngTemplateOutlet="boxRef"></ng-container>
  </div>

  <div class="section-advantage">
    <img class="img-responsive advantage-image" src="/assets/images/frm-overview-gem1.png">
    <div class="advantage">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2 class="common-title">
            Gain a competitive advantage
          </h2>
          <p class="common-text">
            There’s never been a more crucial time to stand out. As the financial industry becomes increasingly competitive, the professionals
            who succeed are those who distinguish themselves and their ability to add value to an
            organization. Earning the FRM proves that your knowledge and skills are up to the latest
            international standards, and connects you to an elite network of expert risk professionals
            employed by the world’s leading institutions.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-employers">
    <div class="employers-angle"></div>
    <div class="employers">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="common-title">
            Stand out to top employers
          </h2>
          <p class="common-text employers-text">
            FRMs are constantly in demand by the world’s leading companies and banks.
            Our certified FRMs are currently employed in more than 190 countries and
            territories worldwide.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-plan-box
            title="TOP 10 COMPANIES EMPLOYING THE MOST FRMs*"
            [color]="diamondColors.blue"
          >
            <ol class="employers-list">
              <li>ICBC</li>
              <li>Bank of China</li>
              <li>HSBC</li>
              <li>Agricultural Bank of China</li>
              <li>Citigroup</li>
              <li>KPMG</li>
              <li>Deutsche Bank</li>
              <li>Credit Suisse</li>
              <li>UBS</li>
              <li>PwC</li>
            </ol>
            <p class="employers-list-text">
              *companies ordered by the number of FRM employees
            </p>
          </app-plan-box>
        </div>
        <div class="col-sm-6">
          <app-plan-box
            title="TOP 10 GLOBAL BANKS EMPLOYING FRMs*"
            [color]="diamondColors.blue"
          >
            <ol class="employers-list">
              <li>ICBC</li>
              <li>China Construction Bank</li>
              <li>Agricultural Bank of China</li>
              <li>Bank of China</li>
              <li>JP Morgan Chase</li>
              <li>Wells Fargo</li>
              <li>HSBC</li>
              <li>Citigroup</li>
              <li>Bank of America</li>
              <li>Banco Santander</li>
            </ol>
            <p class="employers-list-text">
              *banks ordered by the article below
            </p>
          </app-plan-box>
          <p class="employers-text-grey">
            Source: Chen, Liyan. "2015 Global 2000: The World's Largest Banks."
            Forbes. Forbes Magazine, May 6, 2015. Web. July 23, 2015.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-compare">
    <app-gem
      class="compare-gem"
      type="gem-5"
      colorType="light-blue"
    ></app-gem>
    <div class="compare">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title">
            Comparable degree levels
          </h2>
          <p class="common-text">
            According to an independent benchmarking study conducted by the UK National
            Recognition Information Centre (NARIC), the FRM is comparable to a master's
            degree in ten national and regional educational systems. Based on this
            highly specialized content, complex candidate requirements, and industry-based
            curricula, the FRM was deemed equivalent to:
          </p>
        </div>
      </div>
    </div>

    <div class="compare-box-wrapper">
      <div class="compare-box">
        <table class="table table-bordered compare-table">
          <span class="diamond-rhombus diamond-rhombus-left diamond-rhombus-small"></span>
          <span class="diamond-rhombus diamond-rhombus-right diamond-rhombus-small"></span>
          <thead>
            <tr>
              <th class="col-xs-5 col-md-4">
                Country and Region
              </th>
              <th class="col-xs-7 col-md-8">
                Degree level
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of naricCountries">
              <td>
                {{ country.name }}
              </td>
              <td>
                {{ country.degreeLevel }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <a
          href="https://go.garp.org/l/39542/2017-12-04/819khh/39542/145620/Combined_Executive_Summary.pdf"
          class="common-button"
          download
        >
          DOWNLOAD REPORT
        </a>
      </div>
    </div>
  </div>

  <div class="section-benefits">
    <app-gem
      class="benefits-gem"
      type="gem-4"
      colorType="light-blue"
    ></app-gem>
    <div class="benefits-wrapper">
      <div class="benefits-angle"></div>
      <div class="benefits">
        <div class="row">
          <div class="col-sm-6">
            <img
              class="img-responsive benefits-image"
              src="/assets/images/BenefitsOfHiringFRM_Thumbnail.png"
              alt=""
            >
          </div>
          <div class="col-sm-6">
            <h2 class="common-title">
              Benefits of hiring an FRM
            </h2>
            <p class="common-text">
              As the field’s leading designation, the FRM is the key indication of candidates with
              proven ability and experience. To earn it, candidates must not only pass two challenging
              and rigorous exams, but also spend at least two years working in the field. Certified
              FRMs have shown their ability to identify, analyze, and mitigate risk at a high level,
              and can add value to your firm in a number of specialized areas.
            </p>
            <a
              class="common-button"
              target="_blank"
              href="https://go.garp.org/l/39542/2017-10-13/7p4rr4"
            >
              DOWNLOAD
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-meet">
    <div class="meet">
      <app-grid-slider
        [testimonial]="fakeTestimonials"
        color="blue"
      ></app-grid-slider>
    </div>
  </div>

  <div class="section-become">
    <img
      src="/assets/images/laptop_frm_reg.png"
      class="become-image"
      alt=""
    >
    <div class="become">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2 class="common-title">
            Become an FRM
          </h2>
          <h3 class="become-title-secondary">
            LATE REGISTRATION FOR THE NOVEMBER 2018 FRM EXAM IS NOW OPEN
          </h3>
          <!--<h3 ng-if="!examInfo.examRegOpenedMonth" class="g-c-h3 g-u-uppercase">-->
            <!--Early Registration for the {{examFeesInfo.Exam_Date__c | date: 'MMMM y'}}-->
            <!--FRM Exam opens on {{examFeesInfo.Registration_Start_Date__c | date: 'MMMM d'}}-->
          <!--</h3>-->

          <!--<h3 ng-if="examInfo.examRegOpenedMonth" class="g-c-h3 g-u-uppercase">-->
            <!--{{currentRegWindowName}} Registration for the {{examFeesInfo.Exam_Date__c | date: 'MMMM y'}} FRM Exam-->
            <!--<span ng-if="(currentRegWindowName === 'Early' && !earlyWarningDate) || currentRegWindowName === 'Standard' || currentRegWindowName === 'Late'">-->
              <!--is now open-->
            <!--</span>-->
            <!--<span ng-if="currentRegWindowName === 'Early' && earlyWarningDate">-->
              <!--ends on {{utilities.formatDate(examFeesInfo.Last_Date_For_Early_Registration__c,"MMMM D, YYYY")}}-->
            <!--</span>-->
          <!--</h3>-->
          <p class="become-text">
            Take the first step towards earning your certification today.
          </p>
          <a class="common-button"> <!-- ng-href='{{utilities.getRegistrationURL("frm")}}' -->
            REGISTER NOW
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-twitter">
    <div class="twitter-angle"></div>
    <app-gem
      class="twitter-gem"
      type="gem-6"
      colorType="light-blue"
    ></app-gem>
    <app-conversation
      link="https://twitter.com/search?q=%23GARPFRM&src=typd"
    ></app-conversation>
  </div>
</div>
