@import "../../../../../style-variables";

.common {
  &-title {
    @include common-title;
  }

  &-text {
    @include common-text;
  }

  &-button {
    @include main-button;
  }

  &-link {
    @include common-link;
  }
}

.section {
  &-role {
    position: relative;
    margin-top: 2rem;
  }

  &-partners {
    position: relative;
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &-fellowship {
    position: relative;
    margin-top: 6rem;
  }

  &-apply {
    position: relative;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }
}

.role {
  @include common-section;
  margin-top: 2rem;

  &-image {
    @media (min-width: $s-w-md) {
      position: absolute;
      top: 7%;
      left: 0;
      width: 45%;
      z-index: 7;
    }

    @media (min-width: 1200px) {
      top: -120px;
      width: auto;
    }
  }
}

.partners {
  @include common-section;
  max-width: 1200px;
  margin-top: 6rem;

  @media (max-width: 767px) {
    text-align: center;
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-box {
    padding: 10px 20px;
    border: 1px solid $c-main-dark;
    border-radius: 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
    background: #FFFFFF;
    cursor: pointer;
    position: relative;

    &:hover {
      transform: translateY(-4px);
    }

    @media (min-width: $s-w-md) {
      min-height: 245px;
    }

    &-wrapper {
      margin-top: 2rem;
    }

    &-title {
      margin: 1rem 0 0;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
      font-weight: bold;
    }

    &-footer {
      position: absolute;
      bottom: 25px;

      a {
        font-weight: bold;
      }
    }

    img {
      display: inline-block;
      max-height: 75px;
    }
  }
}

.fellowship {
  @include common-section;
  margin-top: 6rem;

  &-gem {
    @include common-gem;
    top: -241px;
    right: 0;
  }

  &-title {
    margin-top: 3rem;
    text-transform: uppercase;
  }

  &-text {
    max-width: 675px;
    display: inline-block;
  }

  &-link {
    font-weight: bold;
  }

  &-year {
    display: inline-block;
    margin-top: 1rem;
    position: relative;

    &.active {
      a, a:hover, a:focus {
        color: $c-main-dark;
      }

      i {
        opacity: 1;
      }
    }

    a {
      font-weight: bold;
      padding: 0 5px;
    }

    i {
      opacity: 0;
      position: absolute;
      bottom: -12px;
      left: 21px;
    }
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;

    > div:first-child {
      margin-top: 3rem;
      padding: 15px;
    }

    &-title {
      line-height: 1.3;
      font-size: 1.25rem;
      font-weight: lighter;
      text-transform: uppercase;
      color: $c-light-grey;

      @media (min-width: $s-w-md) {
        font-size: 1.5rem;
      }
    }
  }

  &-member {
    display: flex;
    margin: -15px;
    padding: 0 10px;

    &s {
      margin-top: 2rem;
      padding: 15px;
      flex-direction: column;
    }

    &-image {
      border: 2px solid $c-primary-light;
      height: 64px;
      width: 64px;
      display: block;
      padding: 0;
      border-radius: 50%;
    }

    &-content {
      padding: 0 15px;
      flex: 1 0 0;
    }

    &-name {
      font-size: 1rem;
      line-height: 1.5;
      border-bottom: 2px solid $c-main-dark;
      padding-bottom: 6px;
      margin: 0 0 6px;
    }

    &-bio {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
    }

    &-link-wrapper {
      width: 100%;
      margin: 2rem 0;

      a {
        padding-left: 73px;
        font-weight: bold;
      }
    }
  }
}

.apply {
  @include common-section;
  margin-top: 6rem;
  text-align: center;

  &-gem {
    @include common-gem;
    top: 80px;
    left: 0;

    @media (min-width: 1280px) {
      top: 141px;
    }
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-box {
    > *:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

/deep/ .academic-partners-slide .section-main .main-content .main-content-title {
  @media (min-width: 700px) {
    margin-top: 8rem;
  }

  @media (min-width: 900px) {
    margin-top: 12rem;
  }
}
