@import "../../../../../style-variables";

@mixin title {
  > *:not(:first-child) {
    margin-top: 2rem;
  }

  &-title {
    @include common-title;
  }
}

.main {
  @include common-section;
  max-width: 1200px;
  margin-top: 2rem;

  &-button {
    @include main-button;
    margin-top: 0;
  }

  &-link {
    @include common-link;
    display: inline-block;
    font-weight: bold;
  }

  &-left {
    @include title;
    display: none;

    @media (min-width: $s-w-md) {
      display: block;
    }
  }

  &-right {

    > p {
      margin: 2rem 0 0;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
    }

    &-title {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.3;
      letter-spacing: .7px;
      text-transform: uppercase;
      margin-bottom: 0;

      @media (min-width: $s-w-md) {
        font-size: 1.5rem;
      }

      &:first-child {
        margin: 0;
      }

      &:not(:first-child) {
        margin-top: 5rem;
      }
    }
  }

  &-mobile {
    @include title;
    display: block;
    margin-top: 2rem;

    @media (min-width: $s-w-md) {
      display: none;
    }
  }
}

@include common-footer;
