<footer class="footer"> <!-- TODO:  ng-hide="hideMainFooter" -->
  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <ul class="footer-list">
            <li class="footer-list-item footer-list-item-bold frm">
              <a class="footer-list-link">Financial Risk Manager</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-bold erp">
              <a class="footer-list-link">Energy Risk Professional</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-bold courses">
              <a class="footer-list-link">Courses</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-bold membership">
              <a class="footer-list-link">Membership</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-bold events">
              <a class="footer-list-link" title="Events">Events</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-bold risk-intelligence">
              <a class="footer-list-link">Risk Intelligence</a> <!-- TODO: n&a -->
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <ul class="footer-list">
            <li class="footer-list-item footer-list-item-bold about-us">
              <a class="footer-list-link">About us</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-simple">
              <a>Board of Trustees</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-simple">
              <a>Risk Manager of the Year</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-simple">
              <a>Academic Partners</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-simple">
              <a>Buy Side Risk Managers Forum</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-simple">
              <a>Press room</a> <!-- TODO: n&a -->
            </li>
            <li class="footer-list-item footer-list-item-simple">
              <a>Contact us</a> <!-- TODO: n&a -->
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <p class="hidden-xs hidden-sm footer-text">
            We are a not-for-profit organization and the leading globally
            recognized membership association for risk
            managers.
          </p>

          <div class="row footer-social">
            <div class="col-xs-12">
              <table class="footer-social-table">
                <tbody>
                  <tr>
                    <td class="hidden-xs hidden-sm">
                      <a class="weChatTrigger"> <!-- TODO: ng-click="toggleQRDesktop()" ng-blur="blurToClose()" -->
                        <i class="fa fa-weixin"></i>
                      </a>
                    </td>
                    <td class="hidden-md hidden-lg ">
                      <a>
                        <i class="fa fa-weixin"></i> <!-- TODO: ng-click="openQRMobile() -->
                      </a>
                    </td>
                    <td>
                      <a href="https://www.facebook.com/GARPRisk" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </td>
                    <td>
                      <a href="https://twitter.com/GARP_Risk" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </td>
                    <td>
                      <a href="https://www.linkedin.com/company/global-association-of-risk-professionals" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://instagram.com/garp_risk" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </td>
                    <td>
                      <a href="https://weibo.com/garpfrm" target="_blank">
                        <i class="fa fa-weibo"></i>
                      </a>
                    </td>
                    <td>
                      <a href="https://plus.google.com/+GarpOrg1" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </td>
                    <td>
                      <a href="https://www.youtube.com/user/GARPvideo" target="_blank">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer-row">
        <ul class="footer-row-inline">
          <li>
            <a title="Bylaws"> <!-- TODO: ng-click="navigate( 'bylaws',{anchor: ''}) " -->
              <span>•</span> Bylaws
            </a>
          </li>
          <li>
            <a title="Code of Conduct"> <!-- TODO: ng-click="navigate( 'code_of_conduct',{anchor: ''}) " -->
              <span>•</span> Code of Conduct
            </a>
          </li>
          <li>
            <a title="Privacy Notice"> <!-- TODO: ng-click="navigate( 'privacy_notice',{anchor: ''}) " -->
              <span>•</span> Privacy Notice
            </a>
          </li>
          <li>
            <a title="Terms of Use"> <!-- TODO: ng-click="navigate( 'terms_of_use',{anchor: ''}) " -->
              <span>•</span> Terms of Use
            </a>
          </li>
          <li>
            <a title="GARP Logo Toolkit"> <!-- TODO: ng-click="navigate( 'logoToolkit',{anchor: ''}) " -->
              <span>•</span> Logo Toolkit
            </a>
          </li>
          <li> &copy; 2018 Global Association of Risk Professionals</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
