@import "../../../style-variables";

$c-text-dim-over-dark: #4A6180;
$c-light-hover-blue: #4CCFFF;
$c-light-hover-yellow: #EEFF92;
$c-light-hover-orange: #FF9172;
$c-light-hover-purple: #FF80DC;
$c-light-hover-green: #00D7D2;
$c-light-hover-sky: #70DCFF;
$c-dark-hover-sky: #76B2FF;

@mixin link-color($color, $hover-color) {
  .footer-list-link {
    color: $color;

    &:hover, &:focus {
      color: $hover-color;
    }
  }
}

.footer {
  position: relative;
  min-height: 350px;
  background-color: $c-main-dark;
  font-size: 1em;
  color: $c-text-dim-over-dark;
  padding: 2em;
  z-index: 1000;

  &-list {
    padding: 0;
    margin: 0;

    &-item {
      font-size: 1em;
      list-style: none;
      padding-top: 10px;

      &-bold {
        font-weight: bold;
      }

      &-simple {
        a {
          text-decoration: none;
          cursor: pointer;
          color: $c-text-dim-over-dark;

          &:hover, &:focus {
            color: $c-dark-hover-sky;
          }
        }
      }
    }

    &-link {
      text-decoration: none;
      cursor: pointer;

      &:hover, &:focus {
        transition: color 1s ease;
      }
    }
  }

  &-text {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .7px;
  }

  &-social {
    margin-top: 2rem;

    &-table {
      width: 100%;
      margin: 0;
      font-size: 2rem;
      text-align: center;

      td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border: none;

        a {
          color: $c-text-dim-over-dark;
          outline: none;
        }
      }
    }
  }

  &-row {
    margin-top: 2rem;

    &-inline {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin-bottom: 10px;

      li {
        font-size: 1em;
        list-style-type: none;
        display: inline-block;
        padding: 10px 5px 0 5px;

        &:first-child {
          padding-left: 0;
        }

        @media (max-width: $s-w-md) {
          display: block;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          text-align: center;

          a span {
            display: none;
          }
        }

        a {
          letter-spacing: 1px;
          color: $c-text-dim-over-dark;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $c-dark-hover-sky;
          }

          span {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.frm {
  @include link-color($c-primary-light, $c-light-hover-blue);
}

.erp {
  @include link-color($c-dark-yellow, $c-light-hover-yellow);
}

.courses {
  @include link-color($c-dark-orange, $c-light-hover-orange);
}

.membership {
  @include link-color($c-dark-purple, $c-light-hover-purple);
}

.events {
  @include link-color($c-light-green, $c-light-hover-green);
}

.risk-intelligence {
  @include link-color($c-light-grey, $c-light-hover-sky);
}

.about-us {
  @include link-color($c-dirty-white, $c-dark-hover-sky);
}
