<nav
  class="navbar navbar-default navbar-fixed-top"
  role="navigation"
  [ngClass]="{ 'navbar-hide': !isHeaderShowed }"
>
  <div class="navbar-secondary clearfix">
    <ul class="navbar-nav">
      <li class="navbar-nav_element">
        <a class="navbar-nav_link">
          Academic Partners
        </a>
      </li>
      <li class="navbar-nav_element">
        <a class="navbar-nav_link navbar-nav_symbol">
          GARP <span>中国</span>
        </a>
      </li>
      <li class="navbar-nav_element">
        <a class="navbar-nav_link" href="https://my.garp.org/LoginGRA">
          GBI Secure Login
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-main clearfix">
    <div class="navbar-header">
      <button class="navbar-toggle" (click)="openMenu()">
        <span class="navbar-toggle_text">Menu</span>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img
          routerLink="/home"
          class="img-responsive hidden-xs"
          src="/assets/logos/garp_logo.png"
          title="Global Association of Risk Professionals"
          alt="Global Association of Risk Professionals"
        >
        <img
          routerLink="/home"
          class="visible-xs modern-browsers img-responsive hidden-logo"
          src="/assets/logos/garp_logo_svg_XS.svg"
          title="Global Association of Risk Professionals"
          alt="Global Association of Risk Professionals"
        >
      </a>
    </div>
    <ul class="nav navbar-nav navbar-full">
      <li class="dropdown">
        <a class="dropdown-element" title="FRM">
          FRM <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="/frm" title="Overview">
              Overview
            </a>
          </li>
          <li>
            <a routerLink="/frm/program-exams" title="FRM Program and Exams">
              Program and exams
            </a>
          </li>
          <li>
            <a routerLink="/frm/fees-payments" title="FRM Fees and Payments">
              Fees and payments
            </a>
          </li>
          <li>
            <a routerLink="/frm/our-certified-frms" title="Our Certified FRMs">
              Our certified FRMs
            </a>
          </li>
          <li>
            <a routerLink="/frm/study-materials" title="FRM Study Materials">
              Study materials
            </a>
          </li>
          <li>
            <a routerLink="/exam-sites" title="Global Exam Sites">
              Global exam sites
            </a>
          </li>
          <li>
            <a routerLink="/cpd" title="Continuing Professional Development">
              CPD
            </a>
          </li>
          <li>
            <a title="F.A.Q.">FAQ</a>
          </li>
          <li> <!-- TODO: ng-if="isRegOpen" -->
            <hr class="hr">
            <a title="Register for FRM"><strong>Register for FRM</strong></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-element" title="ERP">
          ERP <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="/erp" title="Overview">
              Overview
            </a>
          </li>
          <li>
            <a routerLink="/erp/program-exams" title="ERP Program and Exams">
              Program and exams
            </a>
          </li>
          <li>
            <a routerLink="/erp/fees-payments" title="ERP Fees and Payments">
              Fees and payments
            </a>
          </li>
          <li>
            <a title="Our Certified ERPs">
              Our certified ERPs
            </a>
          </li>
          <li>
            <a title="ERP Study Materials">
              Study materials
            </a>
          </li>
          <li>
            <a routerLink="/exam-sites" title="Global Exam Sites">
              Global exam sites
            </a>
          </li>
          <li>
            <a routerLink="/cpd" title="Continuing Professional Development">
              CPD
            </a>
          </li>
          <li>
            <a title="F.A.Q.">
              FAQ
            </a>
          </li>
          <li> <!-- TODO: ng-if="isRegOpen" -->
            <hr class="hr">
            <a title="Register for ERP">
              <strong>Register for ERP</strong>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-element" title="Courses">
          Courses <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="/courses/foundations-of-financial-risk" title="Foundations">
              Foundations
            </a>
          </li>
          <li>
            <a routerLink="/courses/financial-risk-and-regulation" title="Risk and Regulation">
              Risk and Regulation
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-element" title="Membership">
          Membership <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="/membership" title="About Membership">
              About Membership
            </a>
          </li>
          <li>
            <a routerLink="/membership/networking" title="Networking">
              Networking
            </a>
          </li>
          <li>
            <a routerLink="/membership/chapters" title="Chapters">
              Chapters
            </a>
          </li>
          <li>
            <a routerLink="/membership/careers" title="Career Center">
              Career Center
            </a>
          </li>
          <li>
            <a target="_blank" title="Directory">
              Directory
            </a>
          </li>
          <li>
            <a title="Exclusive Offers">
              Exclusive offers
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-element" title="Events">
          Events <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="/events" title="About Events">
              About Events
            </a>
          </li>
          <li>
            <a title="Risk Convention">
              Risk Convention
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-itemless">
        <a
          routerLink="/risk-intelligence"
          class="dropdown-element"
          title="Risk Intelligence"
        >
          Risk Intelligence
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-element" title="About Us">
          About Us <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a routerLink="/about" title="Who We Are">
              Who we are
            </a>
          </li>
          <li>
            <a title="Board of Trustees">
              Board of Trustees
            </a>
          </li>
          <li>
            <a title="Annual Report">
              Annual Report
            </a>
          </li>
          <li>
            <a routerLink="/about/garp-global-benchmarking-initiative" title="Benchmarking Initiative">
              Benchmarking Initiative (GBI)
            </a>
          </li>
          <li>
            <a routerLink="/garp-risk-institute" title="Risk Institute">
              Risk Institute (GRI)
            </a>
          </li>
          <li>
            <a title="Risk Manager of the Year">
              Risk Manager of the Year
            </a>
          </li>
          <li>
            <a routerLink="/about/buy-side-risk-managers-forum" title="Buy Side Risk Managers Forum">
              Buy Side Risk Managers Forum
            </a>
          </li>
          <li>
            <a routerLink="/about/academic-partners" title="Academic Partners">
              Academic Partners
            </a>
          </li>
          <li>
            <a title="Press Room">
              Press room
            </a>
          </li>
          <li>
            <a routerLink="/about/contact-us" title="Contact Us">
              Contact us
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-full navbar-right full-search">
      <li class="search-box left-addon pull-left">
        <form autocomplete="off"> <!-- TODO: ng-submit="gotoSearch(query)" -->
          <input
            class="form-control search-input"
            placeholder="Search GARP"
            [ngClass]="{ expanded: isSearchShowed }"
            (click)="isSearchShowed = !isSearchShowed"
          >
          <i class="glyphicon glyphicon-search"></i>
        </form>
      </li>
      <li>
        <a class="sign-in">Sign In</a>
      </li>
      <!-- TODO: add session menu and switch elements checking session -->
    </ul>
  </div>
</nav>
