@import "../../../style-variables";

$c-hr: #006C99;
$c-header-primary: #00A2DD;
$c-light: #FFFFFF;

$nav-brand-margin: 15px;
$header-height: 65px;
$secondary-header-height: 39px;

.navbar {
  width: 100%;
  border-radius: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  transition: transform .3s;

  &-hide {
    transform: translateY(-#{$secondary-header-height});
  }

  &-secondary {
    height: $secondary-header-height;
    background-color: $c-main-dark;

    @media (max-width: $s-w-md) {
      display: none;
    }

    .navbar-nav {
      float: none;
      clear: both;
    }
  }

  &-main {
    background-color: $c-light;
  }

  &-nav {
    &_element {
      float: right;
    }

    &_link {
      display: block;
      padding: 15px 10px;
      line-height: 9px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
    }

    &_symbol {
      padding-top: 14px;

      span {
        font-weight: 900;
        font-size: 13px;
      }
    }
  }

  &-header {
    height: $header-height;

    @media (max-width: $s-w-lg) {
      float: none;
    }
  }

  &-brand {
    margin: $nav-brand-margin $nav-brand-margin 0 0;
    padding: 0;
    max-width: 230px;

    .hidden-logo {
      width: 150px;
      height: 40px;
    }

    img:focus {
      outline: none;
    }
  }

  &-full {
    @media (max-width: $s-w-lg) {
      display: none;
    }

    .dropdown {
      height: $header-height;

      &:hover {
        .dropdown-menu {
          display: block;
        }
      }

      &-menu {
        padding: 10px 0;
        min-width: 170px;
        border: none;
        background-color: $c-main-dark;
        border-radius: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

        li {
          padding: 5px 0;

          a {
            display: block;
            padding: 3px 15px;
            color: $c-light;
            font-size: $font-size-list;
            font-weight: normal;
            white-space: nowrap;
            cursor: pointer;

            &:hover, &:focus {
              color: $c-primary-light;
              background-color: unset;
            }
          }
        }
      }

      &.dropdown-itemless {
        a {
          cursor: pointer;
        }
      }

      a {
        max-height: 100%;
        padding: 25px 10px;
        font-size: 13px;
        font-weight: 600;
        cursor: default;
        color: $c-main-dark;
      }

      hr {
        margin: 10px 0;
        border-color: $c-hr;
      }
    }

    &.full-search {
      margin: 0;

      .search {
        &-box {
          margin-right: 15px;

          .glyphicon {
            position: absolute;
            padding: 23px 14px 0 11px;
            pointer-events: none;
            color: $c-main-dark;
          }
        }

        &-input {
          height: 35px;
          width: 35px;
          padding: .25em .25em .25em 30px;
          overflow: hidden;
          margin-top: 14px;
          cursor: pointer;
          border-radius: 20px;
          box-shadow: none;
          border: 1px solid $c-main-dark;
          transition: width .5s ease-in;

          &.expanded {
            width: 150px;
          }
        }
      }

      .sign-in {
        height: $header-height;
        padding: 25px;
        background-color: $c-header-primary;
        color: $c-light;
        line-height: 1;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  &-toggle {
    @media (max-width: $s-w-lg) {
      display: block;
      margin-top: 1.2em;
      border: 1px solid transparent;
      outline: 0;
    }

    &_text {
      position: absolute;
      top: 6px;
      right: 40px;
    }

    .icon-bar {
      background-color: $c-main-dark;
    }
  }
}

.navbar {
  .navbar-nav {
    .navbar-nav_link {
      color: $c-light;
    }
  }

  .navbar-header {
    .navbar-brand {
      margin-left: $nav-brand-margin;
    }
  }
}

/* Dropdown hover */
.navbar {
  .dropdown:hover {
    background-color: $c-header-primary;

    .dropdown-element {
      border-bottom: 0;
      color: $c-light;
    }
  }
}
