<!-- TODO: add navigation, analytics and download files to buttons -->

<ng-template #boxRef>
  <app-erp-hero-box-overview></app-erp-hero-box-overview>
</ng-template>

<div class="wrapper">
  <app-slide
    imageUrl="/assets/images/erp--header2.jpg"
    header="Energy Risk Professional (ERP®)"
    [headerWidth]="widthTypes.medium"
    subHeader="The premier risk certification for the energy field."
    [subHeaderWidth]="widthTypes.medium"
    button="Register now"
    [box]="boxRef"
  ></app-slide>

  <div class="hero-box-mobile">
    <ng-container *ngTemplateOutlet="boxRef"></ng-container>
  </div>

  <div class="section-advantage">
    <img class="img-responsive advantage-image" src="/assets/images/windmill-ERP-cut-out.png">
    <div class="advantage">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2 class="common-title">
            See the big picture and develop leadership skills
          </h2>
          <p class="common-text">
            Earning the Energy Risk Professional (ERP) designation can help differentiate you
            in an increasingly competitive market. If you have little experience or a narrowly
            focused background in energy, the ERP Program can help fill gaps in your knowledge.
            Exposure to the broad set of topics covered in the ERP Exam curriculum will build the
            foundation of knowledge and market insights necessary to see the “big picture” and ask
            the right questions as you develop your career in energy.
          </p>
          <p class="common-text">
            As a Certified ERP you will be prepared for jobs with increasing breadth and responsibility,
            including senior management positions that require the ability to assess and manage risk
            strategically to create value for your organization.
          </p>
          <p class="common-text">
            As a hiring manager, you can use the ERP certification as a benchmark for identifying potential
            new hires who possess the skills necessary to become future leaders of your organization.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-employers">
    <div class="employers-angle"></div>
    <div class="employers">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="common-title">
            Stand out to top employers
          </h2>
          <p class="common-text employers-text">
            ERPs are constantly in demand by the world’s leading energy companies,
            commodity trading firms, energy consulting companies, and regulatory agencies.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-plan-box
            title="TOP 10 COMPANIES EMPLOYING THE MOST ERPs*"
            [color]="diamondColors.darkYellow"
          >
            <ol class="employers-list">
              <li>EDF Energy</li>
              <li>Shell</li>
              <li>BP</li>
              <li>Engie</li>
              <li>FERC</li>
              <li>NRG</li>
              <li>TransAlta</li>
              <li>DTE Energy</li>
              <li>Exelon</li>
              <li>Gazprom</li>
            </ol>
            <p class="employers-list-text">
              *companies ordered by the number of ERP employees
            </p>
          </app-plan-box>
        </div>
        <div class="col-sm-6">
          <app-plan-box
            title="TOP 10 COUNTRIES WHERE ERPs ARE EMPLOYED"
            [color]="diamondColors.darkYellow"
          >
            <ol class="employers-list">
              <li>United States</li>
              <li>United Kingdom</li>
              <li>Canada</li>
              <li>India</li>
              <li>Singapore</li>
              <li>Switzerland</li>
              <li>Germany</li>
              <li>Hong Kong</li>
              <li>Australia</li>
              <li>France</li>
            </ol>
          </app-plan-box>
        </div>
      </div>
    </div>
  </div>

  <div class="section-apply">
    <app-gem
      class="apply-gem"
      type="gem-3"
      colorType="dark-yellow"
    ></app-gem>
    <div class="apply">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title">
            Apply your knowledge to a diverse set of career paths in energy
          </h2>
          <p class="common-text">
            The knowledge and skills developed while earning the ERP designation can be applied across a
            diverse set of functional roles within firms that operate directly and indirectly in the
            energy market.
          </p>
          <div class="apply-box">
            <h3 class="apply-box-title">
              Industry Opportunities
            </h3>
            <div class="row">
              <div class="col-sm-6">
                <ul class="apply-list">
                  <li>
                    <strong>
                      Risk management within integrated petroleum companies, electricity generators
                      and power utilities, and renewable energy companies:
                    </strong>
                    Evaluate risks associated with the upstream production, transport, and processing of oil, gas,
                    and coal; the generation, distribution, and marketing of electricity; and the
                    financing and integration of renewable generation facilities.
                  </li>
                  <li>
                    <strong>Commodity trading, scheduling, structuring and origination:</strong>
                    Apply knowledge of physical transport, storage, and product processing to assess market opportunities.
                  </li>
                  <li>
                    <strong>Consulting:</strong>
                    Leverage insights about the energy market value chain to
                    satisfy client objectives across a variety of projects, including technology
                    applications, strategic planning, and financial analysis.
                  </li>
                  <li>
                    <strong>Research and investment management:</strong>
                    Apply knowledge of market fundamentals and technical trends to inform investment decisions.
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="apply-list">
                  <li class="apply-list-hidden"></li>
                  <li class="apply-list-hidden"></li>
                  <li class="apply-list-hidden"></li>
                  <li class="apply-list-hidden"></li>
                  <li class="apply-list-no-margin">
                    <strong>Financial control:</strong>
                    Apply analytical skills and market perspective to understand how the full scope of commercial
                    operations are aggregated in complex accounting, finance, and reporting systems.
                  </li>
                  <li>
                    <strong>Treasury:</strong>
                    Assess company liquidity policies and manage corporate funding needs.
                  </li>
                  <li>
                    <strong>Audit:</strong>
                    Examine adequacy of firm’s risk controls and processes based
                    on best practices, regulatory requirements, and jurisdictional structures.
                  </li>
                  <li>
                    <strong>Regulatory compliance:</strong>
                    Understand the market rationale for proposed regulations and their impact on business models.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-compare">
    <app-gem
      class="compare-gem"
      type="gem-5"
      colorType="dark-yellow"
    ></app-gem>
    <div class="compare">
      <div class="compare-angle"></div>
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title">
            Comparable degree levels
          </h2>
          <p class="common-text">
            According to an independent benchmarking study conducted by the UK National
            Recognition Information Centre (NARIC), the ERP is comparable to a master's
            degree in ten national and regional educational systems. Based on its highly
            specialized content, complex candidate requirements and industry-based
            curricula, the ERP was deemed equivalent to:
          </p>
        </div>
      </div>
    </div>

    <div class="compare-box-wrapper">
      <div class="compare-box">
        <table class="table table-bordered compare-table">
          <span class="diamond-rhombus diamond-rhombus-left diamond-rhombus-small"></span>
          <span class="diamond-rhombus diamond-rhombus-right diamond-rhombus-small"></span>
          <thead>
          <tr>
            <th class="col-xs-5 col-md-4">
              Country and Region
            </th>
            <th class="col-xs-7 col-md-8">
              Degree level
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let country of naricCountries">
            <td>
              {{ country.name }}
            </td>
            <td>
              {{ country.degreeLevel }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <a
          href="https://go.garp.org/l/39542/2017-12-04/819khh/39542/145620/Combined_Executive_Summary.pdf"
          class="common-button"
          download
        >
          DOWNLOAD EXECUTIVE SUMMARY
        </a>
      </div>
    </div>
  </div>

  <div class="section-become">
    <img
      src="/assets/images/erp-glossary-in-browser.png"
      class="become-image"
      alt=""
    >
    <div class="become">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2 class="common-title">
            Energy Markets Risk Management Glossary
          </h2>
          <p class="become-text">
            Whether you’re looking to build your knowledge about energy markets or preparing
            for the ERP Exam, this glossary can be a valuable resource. The glossary contains
            common terms that every energy professional should know.
          </p>
          <div class="become-form-wrapper" *ngIf="!isDownloaded; else afterDownload">
            <form
              class="become-form"
              [formGroup]="form"
              (submit)="onSubmit()"
            >
              <div class="row">
                <div class="col-sm-6">
                  <div class="become-form-group">
                    <p
                      class="become-input-error"
                      *ngIf="form.get('name').dirty && form.get('name').hasError('required')"
                    >
                      First Name is required.
                    </p>
                    <p
                      class="become-input-error"
                      *ngIf="form.get('name').dirty && form.get('name').hasError('maxlength')"
                    >
                      First name can't be more than 50 characters.
                    </p>
                    <p
                      class="become-input-error"
                      *ngIf="form.get('name').dirty && form.get('name').hasError('minlength')"
                    >
                      First name has to be more than 2 characters.
                    </p>
                    <div class="become-input-wrapper">
                      <label class="become-input-label" for="name">
                        First Name
                      </label>
                      <input
                        class="become-input"
                        formControlName="name"
                        id="name"
                        type="text"
                        placeholder="First Name/Given Name"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="become-form-group">
                    <p
                      class="become-input-error"
                      *ngIf="form.get('surname').dirty && form.get('surname').hasError('required')"
                    >
                      Last Name is required.
                    </p>
                    <p
                      class="become-input-error"
                      *ngIf="form.get('surname').dirty && form.get('surname').hasError('maxlength')"
                    >
                      Last name can't be more than 50 characters.
                    </p>
                    <p
                      class="become-input-error"
                      *ngIf="form.get('surname').dirty && form.get('surname').hasError('minlength')"
                    >
                      Last name has to be more than 2 characters.
                    </p>
                    <div class="become-input-wrapper">
                      <label class="become-input-label" for="surname">
                        Last Name
                      </label>
                      <input
                        class="become-input"
                        formControlName="surname"
                        id="surname"
                        type="text"
                        placeholder="Last Name/Surname"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="become-form-group">
                    <p
                      class="become-input-error"
                      *ngIf="form.get('email').dirty && form.get('email').hasError('required')"
                    >
                      First Name is required.
                    </p>
                    <p
                      class="become-input-error"
                      *ngIf="form.get('email').dirty && form.get('email').hasError('email')"
                    >
                      Email isn't valid.
                    </p>
                    <div class="become-input-wrapper">
                      <label class="become-input-label" for="email">
                        Email Address
                      </label>
                      <input
                        class="become-input"
                        formControlName="email"
                        id="email"
                        type="email"
                        placeholder="name@example.com"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="become-form-group">
                    <p
                      class="become-input-error"
                      *ngIf="form.get('company').dirty && form.get('company').hasError('maxlength')"
                    >
                      Company can't be more than 255 characters.
                    </p>
                    <div class="become-input-wrapper">
                      <label class="become-input-label" for="company">
                        Company
                      </label>
                      <input
                        class="become-input"
                        formControlName="company"
                        id="company"
                        type="text"
                        placeholder="Company"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <p class="become-form-text">
                *By downloading this document, you agree to receive emails from GARP
                with news, special offers, promotions and future messages that may be
                of interest to you.
              </p>
              <div class="form-group">
                <button class="common-button">
                  Download
                </button>
              </div>
            </form>
          </div>
          <ng-template #afterDownload>
            <div class="row become-after-download-box">
              <div class="col-xs-12">
                <h2>Thanks for downloading!</h2>
                <p>
                  Please wait while the ERP Glossary is downloading.
                </p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="section-meet">
    <app-gem
      class="meet-gem"
      type="gem-4"
      colorType="dark-yellow"
    ></app-gem>
    <div class="meet-angle"></div>
    <div class="meet">
      <app-grid-slider
        [testimonial]="fakeTestimonials"
        color="yellow"
      ></app-grid-slider>
    </div>
  </div>

  <div class="section-erp-become">
    <img class="img-responsive erp-become-image" src="/assets/images/erp-big-special-gem.png">
    <div class="erp-become">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="common-title">
            Become an ERP
          </h2>
          <h3 class="erp-become-title">
            Early Registration for the May 2019 ERP Exam will open on December 1
          </h3>

          <!-- TODO: add checking reg date
          <h3 ng-if="!examInfo.examRegOpenedMonth" class="g-c-h3 g-u-uppercase">
            Early Registration for the {{examFeesInfo.Exam_Date__c | date: 'MMMM y'}} ERP Exam
            <br> will open on {{examFeesInfo.Registration_Start_Date__c | date: 'MMMM d'}}
          </h3>

          <h3 ng-if="examInfo.examRegOpenedMonth" class="g-c-h3 g-u-uppercase">
            {{currentRegWindowName}} Registration for the {{examFeesInfo.Exam_Date__c | date: 'MMMM y'}} ERP Exam
            <span ng-if="(currentRegWindowName === 'Early' && !earlyWarningDate) ||
                                              currentRegWindowName === 'Standard' ||
                                              currentRegWindowName === 'Late'">is now open</span>
            <span ng-if="currentRegWindowName === 'Early' && earlyWarningDate">will end on {{utilities.formatDate(examFeesInfo.Last_Date_For_Early_Registration__c,"MMMM
                                  D, YYYY")}}</span>
          </h3>

          <p>Take the first step towards earning your certification today.</p>
          <div class="">
            <a class="g-c-btn"  ng-if="examInfo.examRegOpenedMonth" href="" ng-href='{{utilities.getRegistrationURL("erp")}}'
               analytics-on
               analytics-event="click_button"
               analytics-category="footer_cta"
               analytics-label="erp_overview_registerfooter">
              REGISTER NOW</a>
          </div>
          -->
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>

  <div class="section-twitter">
    <div class="twitter-angle"></div>
    <app-gem
      class="twitter-gem"
      type="gem-6"
      colorType="dark-yellow"
      [flipX]="true"
    ></app-gem>
    <app-conversation
      link="https://twitter.com/search?q=%23GARPFRM&src=typd"
    ></app-conversation>
  </div>
</div>
