@import "../../../../../style-variables";
@import "../../../../styles/overviw";

$input-height: 40px;

.common {
  &-title {
    @include common-title;
  }

  &-text {
    @include common-text;
  }

  &-button {
    @include main-button;
  }
}

.section {
  &-advantage {
    @include section-advantage;
  }

  &-employers,
  &-twitter {
    @include section-employers-and-twitter;
  }

  &-apply {
    position: relative;
    margin-top: 2rem;
  }

  &-become {
    margin-top: 2rem;
  }

  &-twitter {
    margin-top: 12rem;
  }

  &-meet {
    position: relative;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &-compare {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;
    margin-top: 2rem;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &-erp-become {
    position: relative;
    margin-top: 6rem;
  }
}

.advantage {
  @include advantage;

  &-image {
    bottom: -55px;
  }
}

.apply {
  @include common-section;
  margin-top: 6rem;
  text-align: center;

  &-gem {
    @include common-gem;
    left: 0;
    top: -212px;
  }

  &-box {
    margin-top: 2rem;

    &-title {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &-list {
    margin-top: 2rem;
    text-align: left;

    &-hidden {
      display: none;
    }

    li {
      @include common-rainbow-list;
      padding-left: 32px;
      position: relative;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}

.compare {
  @include compare;

  &-gem {
    right: 0;
    top: 0;
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-box {
    @include common-diamond($c-dark-yellow);
  }

  &-table {
    border-color: $c-dark-yellow-secondary;

    thead th {
      border-color: $c-dark-yellow-secondary;
    }

    tbody tr {
      border-color: $c-dark-yellow-secondary;

      td {
        border-color: $c-dark-yellow-secondary;
      }
    }
  }
}

.employers {
  @include employers;

  &-angle {
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
  }

  &-list {
    li:before {
      color: $c-dark-yellow-secondary;
    }
  }

  /deep/ .box {
    min-height: 505px;
  }
}

.meet {
  @include meet;
  margin-top: 12rem;

  @media (max-width: 1200px) {
    margin-top: 6rem;
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-gem {
    @include common-gem;
    left: 0;
    top: -100px;
    margin-top: 2rem;
  }
}

.become {
  @include become;

  &-form {
    &-group {
      position: relative;
      padding-top: 2rem;
      margin: 0;
    }

    &-text {
      margin: 2rem 0 0;
      font-size: 85%;
      letter-spacing: .7px;
      line-height: 1.3rem;
    }
  }

  &-input {
    padding-left: 5px;
    padding-top: .8rem;
    font-size: 12px;
    width: 100%;
    height: $input-height;
    border-radius: 0;
    border: thin solid $c-dirty-white;

    &-label {
      margin-bottom: 0;
      padding-left: 6px;
      padding-top: 6px;
      position: absolute;
      font-weight: bold;
      z-index: 5;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $c-main-dark;
      text-align: left;
      line-height: 1;
    }

    &-error {
      top: .75rem;
      font-size: .75rem;
      position: absolute;
      color: $c-dark-orange-secondary;
      font-weight: bold;
      margin: 0;
    }
  }

  &-after-download-box {
    p {
      margin: 1rem 0 0;
    }
  }
}

.erp-become {
  @include common-section;
  margin-top: 2rem;

  &-image {
    width: 80%;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    margin-right: 0;
    margin-left: auto;

    @media (min-width: $s-w-md) {
      position: absolute;
      width: 44%;
      max-width: 650px;
    }
  }

  &-title {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: .7px;
    text-transform: uppercase;

    @media (min-width: $s-w-md) {
      font-size: 1.5rem;
    }
  }
}

.twitter {
  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-gem {
    @include common-gem;
    margin-top: 2rem;
    left: 0;
    top: -78px;
  }
}

.hero-box-mobile {
  @include common-hero-box-mobile;
}

.apply-box .apply-list .apply-list-no-margin {
  margin-top: 0;
}
