<div class="modal-header">
  <h2 class="modal-title pull-left">
    Thank you for your interest!
  </h2>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="modal-text">
    We’re glad you’re considering the world’s leading risk management certification.
  </p>
</div>
<div class="modal-body">
  <h2 class="modal-box-header">
    More Resources
  </h2>
  <div class="modal-box" *ngFor="let book of books">
    <div class="row">
      <div class="col-xs-3">
        <a [href]="book.downloadUrl">
          <img class="img-responsive" [alt]="book.name" [src]="book.imageUrl">
        </a>
      </div>
      <div class="col-xs-9">
        <h4 class="modal-box-title">
          {{ book.name }}
        </h4>
        <p class="modal-box-text">
          {{ book.description }}
        </p>
        <a class="modal-box-link" [href]="book.downloadUrl">
          Download {{ book.name }}
        </a>
      </div>
    </div>
  </div>
  <div class="modal-link-wrapper">
    <a class="modal-link" (click)="bsModalRef.hide()">
      No thanks. I’ve already read this.
    </a>
  </div>
</div>
