@import "../../../../../style-variables";

.common {
  &-title {
    @include common-title;

    @media (max-width: 767px) {
      margin-bottom: 2rem;
    }
  }

  &-link {
    @include common-link;
    font-weight: bold;
  }
}

.col-sm-7 {
  @media (min-width: $s-w-md) {
    padding-left: 30px;
    padding-top: 7px;
  }
}

.contacts > p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .7px;

  &.margin-bot {
    margin-bottom: 1rem;
  }
}

.map {
  height: 400px;
  width: 500px;
  background-size: contain;

  @media (max-width: 1199px) {
    height: 275px;
    width: 325px;
  }

  &-wrapper {
    margin-top: 2rem;
  }
}
