<div class="row">
  <div class="col-sm-5">
    <h2 class="common-title">
      {{ contact.title }}
    </h2>
  </div>
  <div class="col-sm-7">
    <div class="contacts">
      <p *ngIf="contact.address">
        <strong>{{ contact.address }}</strong>
      </p>
      <p class="margin-bot" *ngIf="contact.addressAdditional">
        {{ contact.addressAdditional }}
      </p>
      <p class="margin-bot" *ngIf="contact.email">
        email:
        <a class="common-link" href="{{ 'mailto:' + contact.email }}">
          {{ contact.email }}
        </a>
      </p>
      <p *ngIf="contact.tel">
        tel:
        <a class="common-link" href="{{ 'tel:' + contact.tel }}">
          {{ contact.tel }}
        </a>
      </p>
      <p class="margin-bot" *ngIf="contact.fax">
        fax: {{ contact.fax }}
      </p>
      <p *ngIf="contact.direction">
        <a class="common-link" [href]="contact.direction" target="_blank">
          Get Directions
        </a>
      </p>
    </div>
    <div class="map-wrapper" *ngIf="contact.image">
      <a [href]="contact.image" target="_blank">
        <div class="map" [style.backgroundImage]="'url(' + contact.image + ')'"></div>
      </a>
    </div>
  </div>
</div>