<div class="hero">
  <app-gem
    class="hero-gem"
    type="gem-1-small"
    colorType="dark-and-double-grey-1"
  ></app-gem>
  <h3 class="hero-title">
    Join our team
  </h3>
  <p class="hero-text">
    Want to work alongside some of the<br> brightest minds in the industry?
  </p>
  <p class="hero-text-mobile">
    We're constantly on the lookout for<br> great talent.
    If you think you have what it<br> takes, send us your resume and cover letter.
  </p>
  <p class="text-center hero-button-wrapper">
    <a
      class="hero-button"
      href="https://www.linkedin.com/jobs/search/?f_C=102176&locationId=OTHERS.worldwide"
      target="_blank"
    >
      View Open Positions
    </a>
  </p>
</div>
