<div class="wrapper">
  <app-line-title title="Our Certified FRMs" [type]="lineTitleTypes.frm" gemColor="light-blue" sizeType="s"></app-line-title>
  <div class="section-main">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="common-title common-left">
          Congratulations
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text">
          Congratulations to our most recently certified FRMs. The following lists contain the names of individuals that have passed both parts of the FRM Exam and have demonstrated a minimum of two years of full-time professional experience related to financial risk management. They are now certified FRMs, with all of the rights and responsibilities that come with holding this professional designation.
        </p>
        <img class="margin-top-2rem maxw180" src="../../../../../assets/images/frm/oldFRMlogo.png" />
        <div class="quarter-links">
            <a routerLink="/frm/our-certified-frms/q4" class="common-link margin-top-1rem">4th quarter 2017 certified FRMs</a>
            <a routerLink="/frm/our-certified-frms/q1" class="common-link margin-top-1rem">1st quarter 2018 certified FRMs</a>
            <a routerLink="/frm/our-certified-frms/q2" class="common-link margin-top-1rem">2nd quarter 2018 certified FRMs</a>
            <a routerLink="/frm/our-certified-frms/q3" class="common-link margin-top-1rem">3rd quarter 2018 certified FRMs</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h2 class="common-title common-left">
          FRM Directory
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <h3 class="congrats-title congrats-title-offset">
          Search our FRM Directory
        </h3>
        <p class="common-text margin-top-2rem">
          Use our exclusive FRM Directory tool to search for prospective employees, fellow FRMs, and risk professionals that have demonstrated expertise and leadership in the risk management field.
        </p>
        <a class="common-button" href="https://my.garp.org/sfdcApp#!/public_directory" target="_blank">Search directory</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h2 class="common-title common-left">
          Digital badge
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="congrats-title congrats-title-offset">
              Stand out
            </h3>
          </div>
        </div>
        <div class="row margin-top-2rem">
          <div class="col-xs-5 col-sm-3">
            <a href="https://my.garp.org/Login?start=myprograms" target="_blank"><img class="standOutImg" src="../../../../../assets/images/frm/2016-pt2.png" /></a>
          </div>
          <div class="col-xs-7 col-sm-9">
            <p class="common-text margin-top-1rem">FRMs can call out their expertise in risk management on social media sites and to prospective employers with the FRM digital badge.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h2 class="common-title common-left">
            Professional<br/> growth<br/> opportunities
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text">
          Education and professional growth in risk management does not end with your certification—consider it a life-long journey. We offer a number of ways you can continue to succeed, including Career Resources, Continuing Professional Development (CPD), Individual GARP membership (the world's largest risk community), and networking events and forums.
        </p>
        <h3 class="congrats-title margin-top-5rem">
          Continuing Professional Development
        </h3>
        <p class="common-text margin-top-2rem">
          Risk management is an evolving discipline with new challenges emerging every day. These challenges make continued learning essential for FRMs. Our CPD program delivers a broad range of accessible learning opportunities and provides the tools you need to track and document your activities. FRMs and ERPs are expected to actively participate throughout their careers.
        </p>
        <a class="common-button" routerLink="/cpd">Find out more</a>
        <h3 class="congrats-title margin-top-5rem">
          GARP Membership
        </h3>
        <p class="common-text margin-top-2rem">
          Addressing risk is a team effort, and with over 200,000 members in more than 190 countries and territories, GARP members are making a difference. GARP membership provides the risk community with engagement opportunities and a platform to have a voice in industry research. It also offers access to unparalleled networking opportunities, exclusive risk intelligence content, and much, much more. FRMs and ERPs receive special rates.
        </p>
        <a class="common-button" routerLink="/membership">Join us now</a>
        <h3 class="congrats-title margin-top-5rem">
          Career Center
        </h3>
        <p class="common-text margin-top-2rem">
          Career growth is an essential aspect of professional development. A range of employers and recruiters from across the risk management profession use this platform to recruit new candidates. Upload your resume/CV, set up a job alert, and search for new positions with investment banks, commercial banks, asset management firms, hedge funds, insurance companies, consultancy firms, and government agencies.
        </p>
        <a class="common-button" routerLink="/careers">Get started</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <h2 class="common-title common-left">
          Chapters
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <h3 class="congrats-title">
          Stay on the cutting edge of risk
        </h3>
        <p class="common-text margin-top-2rem">
          Join our professional chapters. With 20 chapters in more than a dozen countries around the world, professional chapters allow you to make valuable new contacts and learn about today's most important topics in risk management. As a member of our community, you can attend meetings anywhere in the world, including those outside your home region, and you will always be welcome to come learn and share your thoughts about risk management.
        </p>
        <a class="common-button" routerLink="/membership/chapters">Find a Chapter</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-angle"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      colorType="light-blue"
    ></app-gem>
  </div>
</div>