<div class="wrapper">
  <app-line-title
    title="Student Membership"
    type="member"
    gemColor="dark-purple"
  ></app-line-title>

  <div class="student-section">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="student-title">
          Special pricing for students - USD 95
        </h2>
      </div>
      <div class="col-sm-7">
        <p class="student-text">
          We realize many students have to choose between learning and earning. If you are
          enrolled in a full-time academic program, you can pay the lower student rate and
          get all the knowledge and networking benefits of Individual Membership.
        </p>
        <a
          href="https://my.garp.org/sfdcApp#!/public_registration/student"
          class="student-button"
          title="Student registration"
        >
          Become a Member Today
        </a>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-angle"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      colorType="dark-purple"
    ></app-gem>
  </div>


  <!-- Google & Pardot Tracking partial -->
  <!--<div data-ng-include data-src="'../partials/snippet.html'"></div>-->
  <!-- END Google & Pardot Tracking partial -->
</div>