<div class="wrapper">
  <app-line-title
    title="Contact Us"
    [type]="lineTitleTypes.corp"
    gemColor="dark-and-double-grey-1"
  ></app-line-title>

  <div class="contacts">
    <div class="contact" *ngFor="let contact of contacts">
      <app-about-contact-section
        [contact]="contact"
      ></app-about-contact-section>
    </div>
  </div>

  <div class="footer">
    <div class="footer-angle"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      colorType="dark-and-grey"
    ></app-gem>
  </div>
</div>
