@import "../../../../../style-variables";

.contact {
  &:not(:first-child) {
    margin-top: 2rem;
  }

  &s {
    @include common-section;
    max-width: 1200px;
    margin-top: 2rem;
  }
}

@include common-footer;
