<ng-template #gemRef>
  <app-gem
    class="slide-gem"
    type="gem-3"
    colorType="dark-purple"
  ></app-gem>
</ng-template>

<ng-template #boxRef>
  <app-careers-hero-box
    [formSubmitter]="jobSearcher"
  ></app-careers-hero-box>
</ng-template>

<div class="wrapper">
  <app-slide
    imageUrl="/assets/images/career--hero-bg.jpg"
    header="Career Center"
    subHeader="Powered by OneWire"
    text="The GARP Career Center connects risk professionals from the globe’s most prominent banks, asset management firms, insurance companies, consulting firms, technology companies, energy firms and hedge funds. Risk professionals will find new career opportunities, and hiring managers will find skilled candidates, including those who have earned the FRM and ERP Certifications."
    button="Are you hiring?"
    (buttonClick)="onSlideButtonClick()"
    [gem]="gemRef"
    [box]="boxRef"
  ></app-slide>

  <!-- Drop Candidate Guide below hero at 1040px -->
  <div class="main-box-mobile">
    <ng-content *ngTemplateOutlet="boxRef"></ng-content>
  </div>

  <div class="section-jobs">
    <div class="jobs">
      <h2 class="common-title">
        Featured jobs
      </h2>

      <p *ngIf="!fakeJobs.length" class="common-text">
        There are no featured jobs at this time.
      </p>

      <div class="jobs-grid row">
        <div class="col-sm-6 jobs-box" *ngFor="let job of fakeJobs">
          <h3 class="jobs-box-title">
            <a class="common-link" [href]="job.href" target="_blank">
              {{ job.title }}
            </a>
          </h3>
          <p>
            {{ job.company }}
          </p>
          <p>
            {{ job.city }}, {{ job.state }}
          </p>
        </div>
      </div>
      <div class="text-center">
        <a class="common-button" (click)="searchJob()">
          VIEW ALL JOBS
        </a>
      </div>
    </div>
  </div>

  <div #hiringSection class="section-hiring">
    <div class="hiring-angle"></div>
    <div class="hiring">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title">
            Find the right talent
          </h2>
          <p class="hiring-text">
            GARP and OneWire help fill jobs quickly by offering 500,000 candidates experienced in finance,
            banking and financial services, robust email and social promotion campaigns, and a cloud-based
            CRM where you can search, store and share candidates.
          </p>
          <p class="hiring-text">
            Candidates with the FRM Certification have the proven ability to identify, analyze, and
            mitigate risk at a high level, and can add value to your firm in a number of specialized areas.
            <a
              class="common-link"
              href="https://go.garp.org/l/39542/2017-10-13/7p4rr4"
              target="_blank"
             >
              Download "Benefits of Hiring an FRM"
            </a>
            to learn more about the competencies that FRMs possess and the ways they can add value to your company.
          </p>
          <a
            class="hiring-button"
            href="https://portal.onewire.com/SignUp/Guest/SignUpJob?productId=2&cp=17&utm_source=partner_hiring_postjob&utm_medium=GlobalAssociationofRiskProfessionals"
            target="_blank"
          >
            POST A JOB
          </a>
          <a
            class="hiring-button-secondary"
            href="https://www.onewire.com/partner/products?cp=17&utm_source=partner_hiring_products&utm_medium=GARP"
            target="_blank"
          >
            MORE OPTIONS
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-market">
    <app-gem
      class="market-gem"
      type="gem-5"
      colorType="dark-purple"
    ></app-gem>
    <div class="market">
      <h2 class="common-title">
        Job market insights
      </h2>
      <div class="row">
        <p class="col-sm-7 common-text">
          You focus on your job hunt or candidate search &mdash; we'll keep track of the job market
          trends, news, and opportunities for you.
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 market-box" *ngFor="let content of fakeCuratedContents">
          <h3>
            <a
              class="common-link"
              [href]="content.url"
              target="_blank"
            >
              {{ content.title }}
            </a>
          </h3>
          <p class="market-box-text">
            {{ content.date }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-internships">
    <div class="internships-angle internships-angle-top"></div>
    <div class="internships-angle internships-angle-bot"></div>
    <img
      class="img-responsive internships-image"
      src="/assets/images/career-center__big-gem.png"
      alt=""
    >
    <div class="internships">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
          <h2 class="common-title">
            Internships and entry-level career programs
          </h2>
          <p class="common-text">
            Internships and training programs can be great opportunities to gain experience. Search below
            to find a list of internships and entry-level programs that we have researched and aggregated
            for the benefit of our student community.
          </p>
          <div>
            <a class="common-button">
              Search internships
            </a>
          </div>
          <!-- a spacer for some padding on the bottom of the grey bg, reduce on mobile -->
          <div class="internships-offset"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-footer">
    <app-gem
      class="footer-gem"
      type="gem-1"
      colorType="dark-purple"
    ></app-gem>
    <div class="footer">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="common-title">
            Get the Edge and find <br> a better job faster
          </h2>
          <p class="common-text">
            Top Applicants - Job Status Updates - Instant Job Alerts - Competition Reports
          </p>
          <div>
            <a
              class="common-button"
              href="https://www.onewire.com/partner/products?cp=17&utm_source=partner_hiring_products&utm_medium=GARP"
              target="_blank"
            >
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
