<div class="wrapper">
  <app-line-title
    title="Networking"
    type="member"
    gemColor="dark-purple"
  ></app-line-title>

  <div class="main">
    <h3 class="main-text">
      Connecting to the wider risk community is a powerful benefit of membership.
      The right network is the best asset when you need to fill
      a knowledge gap or accelerate your career.
    </h3>

    <app-membership-networking-section
      *ngFor="let network of networks"
      [network]="network"
    ></app-membership-networking-section>
  </div>

  <div class="footer">
    <div class="footer-angle"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      colorType="dark-purple"
    ></app-gem>
  </div>
</div>