@import "../../../../../style-variables";

$c-erp: #B0C636;
$c-erp-secondary: #849C3A;
$c-courses: #F05123;
$c-courses-secondary: #C44826;
$c-member: #B8258F;
$c-member-secondary: #7F236E;
$c-events: #00AB91;
$c-events-secondary: #00876E;
$c-cpd: #FDB515;
$c-cpd-secondary: #CE9126;
$c-corp: #9DA7AE;
$c-corp-secondary: #081A31;
$c-gri: #00A551;
$c-gri-secondary: #006738;
$c-frm: #00a2dd;
$c-frm-secondary: #006c99;

@mixin shedColor($c-one, $c-two) {
  path[stroke="colorOne"] {
    stroke: $c-one;
  }

  path[stroke="colorTwo"] {
    stroke: $c-two;
  }
}

@mixin borderColor($c-one, $c-two) {
  border-top: thin solid $c-one;
  border-bottom: thin solid $c-two;

  @media(max-width: 767px) {
    border: 0;
  }
}


.line-title {
  @include common-section;
  max-width: 1200px;
  margin-top: 0;
  padding-bottom: 5px;

  > div {
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &-wrapper {
    position: relative;
    &-frm {
      @include borderColor($c-frm, $c-frm-secondary);
    }
    &-erp {
      @include borderColor($c-erp, $c-erp-secondary);
    }

    &-courses {
      @include borderColor($c-courses, $c-courses-secondary);
    }

    &-member {
      @include borderColor($c-member, $c-member-secondary);
    }

    &-events {
      @include borderColor($c-events, $c-events-secondary);
    }

    &-cpd {
      @include borderColor($c-cpd, $c-cpd-secondary);
    }

    &-corp {
      @include borderColor($c-corp, $c-corp-secondary);
    }

    &-gri {
      @include borderColor($c-gri, $c-gri-secondary);
    }
    margin: 3.5rem 0;

    @media (min-width: 975px) {
      margin: 5rem 0;
      height: 5.1rem;
    }

    @media (min-width: 1250px) {
      height: 7.5rem;
    }
  }

  &-gem {
    display: none;
    position: absolute;
    top: -60px;
    width: 60px;

    @media (min-width: 975px) {
      display: block;
    }
  }

  &-title {
    margin: 0;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    max-width: 100%;
    letter-spacing: 2px;

    @media (min-width: $s-w-md) {
      font-size: 5rem;
    }

    @media (min-width: 975px) {
      padding-top: 18px;
      padding-bottom: 5px;
      font-size: 3.15rem;
    }

    @media (min-width: 1250px) {
      font-size: 4rem;
    }
  }

  &-image {
    height: 100%;

    &-wrapper {
      display: none;
      overflow: hidden;

      @media (min-width: 975px) {
        display: block;
        background-size: cover;
        position: absolute;
        right: 0;
        height: 5rem;
      }

      @media (min-width: 1250px) {
        height: 100%;
      }
    }
  }

  svg {
    height: 100%;
    width: auto;

    &.frm {
      @include shedColor($c-frm, $c-frm-secondary);
    }
    &.erp {
      @include shedColor($c-erp, $c-erp-secondary);
    }

    &.courses {
      @include shedColor($c-courses, $c-courses-secondary);
    }

    &.member {
      @include shedColor($c-member, $c-member-secondary);
    }

    &.events {
      @include shedColor($c-events, $c-events-secondary);
    }

    &.cpd {
      @include shedColor($c-cpd, $c-cpd-secondary);
    }

    &.corp {
      @include shedColor($c-corp, $c-corp-secondary);
    }

    &.gri {
      @include shedColor($c-gri, $c-gri-secondary);
    }
  }
}