<div class="modal-header">
  <h4 class="modal-title pull-left">
    {{ academic.name }}
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img
    class="image pull-left"
    [src]="academic.image"
    [alt]="academic.name"
  >
  <span>
    {{ academic.description }}
  </span>
  <a
    class="link"
    target="_blank"
    [title]="academic.name"
    [href]="academic.linkUrl"
  >
    {{ academic.linkText }}
  </a>
</div>
