<div class="wrapper">
  <app-line-title 
    title="FRM program and exams"
    [type]="lineTitleTypes.frm"
    gemColor="light-blue"
    sizeType="s"
    ></app-line-title>

    <div class="section-main">
      <div class="row">
          <div class="col-sm-5">
            <h2 class="common-title common-left">
              Overview
            </h2>
          </div>
          <div class="col-sm-7 common-right">
            <p class="common-text">
                Anyone can register to take the exam. FRM certification is awarded after a candidate has passed two rigorous multiple choice exams (FRM Exam Part I and Part II) and demonstrated two years of relevant work experience. Candidates must take the FRM Exam Part I before taking Part II. Certified FRMs are strongly encouraged to earn 40 hours of Continuing Professional Development (CPD) every two years to maintain the latest best practices in risk management.
            </p>
          </div>
        </div>

        <div class="row path">
          <div class="col-sm-5 common-left">
            <h2 class="common-title">
              Path to <br> success
            </h2>
          </div>
          <div class="col-sm-7 common-right">
              <div class="path-box-wrapper">
                <div class="path-box">
                  <h3 class="path-box-title">
                    Download the 2019 FRM Learning Objectives
                  </h3>
                  <p class="common-text path-box-text">
                      This includes everything you need to know about the FRM Program, including reading lists and learning objectives.
                  </p>
                  <a class="common-button" href="https://go.garp.org/l/39542/2018-10-24/8mlpqz" target="_blank">
                    Download
                  </a>
                </div>
                <div class="path-box">
                  <h3 class="path-box-title">
                      Register and Prepare
                  </h3>
                  <p class="common-text path-box-text">
                    Once you have registered, you will receive access to the GARP portal where you can manage all your program information and track your progress. Make sure you have your current government-issued photo identification with you when you register. The name on your government-issued identification must be exactly the same as on your exam registration. For more information, see our <a routerLink="/frequently-asked-questions" class="common-link">FAQ</a>. During this process you should:
                  </p>
                  <ol type="a">
                    <li>Prepare a <a class="common-link" routerLink="/frm/study-materials">study plan</a></li>
                    <li>Buy the <a class="common-link" target="_blank" href="https://my.garp.org/Login?start=study_materials">FRM books</a>. Candidates who buy the books have a better pass rate than those who don’t.</li>
                    <li>Choose your exam site.</li>
                    <li>Familiarize yourself with <a class="common-link" routerLink="/frm/frequently-asked-questions#important-deadlines">FRM deadlines</a>.</li>
                    <li>Be aware of <a class="common-link" routerLink="/about/exam-policies">FRM Exams Policies and Process</a>.</li>
                    <li>Review and agree to GARP’s Code of <a class="common-link" routerLink="/frm/frequently-asked-questions#a-candidate-experience">Conduct and Candidate Responsibility Statement</a>.</li>
                  </ol>

                  <a class="common-button" target="_blank" href="https://my.garp.org/sfdcApp#!/public_registration/frm">
                      Register for FRM
                  </a>
                </div>
                <div class="path-box">
                  <h3 class="path-box-title">
                    Pass FRM Exam Part I
                  </h3>
                </div>
                <div class="path-box">
                  <h3 class="path-box-title">
                    Pass FRM Exam Part II
                  </h3>
                </div>
                <div class="path-box">
                  <h3 class="path-box-title">
                    Demonstrate two years of relevant work experience
                  </h3>
                </div>
              </div>
            </div>
        </div>

        <div class="row part">
          <div class="col-sm-5 common-left">
            <h2 class="common-title">
              FRM Exam Part I <br> and Part II
            </h2>
          </div>
          <div class="col-sm-7 common-right">
            <p class="common-text">
                The FRM Exam Part I and Part II are pencil and paper multiple choice exams. They are offered solely in English twice a year, in May and November, at <a class="common-link" routerLink="/exam-sites">over 100 exam sites</a> around the world.
            </p>
    
            <h3 class="part-title">
              FRM Exam Part I
            </h3>
            <p class="common-text-secondary">
              A 100-question multiple choice exam, the FRM Exam Part I focuses on the tools used to assess financial risk: quantitative analysis, fundamental risk management concepts, financial markets and products, and valuation and risk models. Part I is always offered in the morning and must be completed in four hours or less.
            </p>
    
            <h3 class="part-title">
              FRM Exam Part II
            </h3>
            <p class="common-text-secondary">
              The FRM Exam Part II is an 80-question multiple choice exam, emphasizing the application of the tools acquired in Part I: market, credit, operational and integrated risk management, investment management as well as current market issues. Part II is always offered in the afternoon and must be completed in four hours or less.
            </p>
            <p class="common-text">
              Please note that if a candidate elects to take Part II on the same day as Part I, their Part II Exam will not be graded unless they first pass Part I.
            </p>
    
            <h3 class="part-title">
              Scoring and Results
            </h3>
            <p class="common-text-secondary">
              There are no penalties for wrong answers. Passing scores are determined by the FRM Committee. Exam results are pass/fail and are emailed approximately six weeks after the exam. Candidates will receive quartile results comparing their performance to other candidates.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 common-left">
            <h2 class="common-title">
                FRM Exam dates <br> and locations
            </h2>
          </div>
          <div class="col-sm-7 common-right">
            <p class="common-text">
              The FRM Exam will be offered on May 18, 2019 and November 16, 2019 at more than
              <a class="common-link" routerLink="/exam-sites">
                100 exam sites
              </a>
              around the world.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 common-left">
            <h2 class="common-title">
              Policies and <br> procedures on <br> exam day
            </h2>
          </div>
          <div class="col-sm-7 common-right">
            <p class="common-text">
                To maintain and protect the integrity of the FRM program and ensure a fair exam process for all, candidates must agree to a number of policies and procedures. Failure to comply may result in suspension or termination from the FRM Program. A full list of these is provided in our <a class="common-link" routerLink="/about/exam-policies">Exam Policies</a>.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 common-left">
            <h2 class="common-title">
              The FRM <br> Committee
            </h2>
          </div>
          <div class="col-sm-7 common-right">
            <p class="common-text">
                One of the things that sets the FRM Program apart is its oversight and governance. The program is developed by the FRM Committee, which is comprised of world-leading experts in risk. To reflect the emerging demands of the industry, the FRM curriculum is reviewed and revised annually by the FRM Committee.
            </p>
            <p class="common-text-secondary">
                Current committee members include practitioners in credit, operational, and market risk, emerging markets, corporate, academia, rating agencies, quantitative disciplines, legal and regulatory practices, asset management and insurance.
            </p>
            <a class="common-link common-link-secondary" routerLink="/frm/frequently-asked-questions#frm-committee">
              View Members of the FRM Committee
            </a>
          </div>
        </div>

        <div class="row congrats">
          <div class="col-sm-5 common-left">
            <h2 class="common-title">
              Congratulations
            </h2>
          </div>
          <div class="col-sm-7 common-right">
            <p class="common-text-secondary">
              Congratulations to all who have passed the FRM Exam Part II. You have demonstrated the expertise and dedication required to successfully complete the robust and rigorous program of study. Individuals who have completed the entire certification process, which includes two years of relevant work experience, can be found in our
              <a class="common-link" href="https://my.garp.org/sfdcApp#!/public_directory" target="_blank">FRM Directory</a>,
              nd our most recently certified can be
              <a class="common-link" routerLink="/frm/our-certified-frms">found here</a>.
            </p>
            <h3 class="congrats-title">
              May 2018 Exams Pass Rates
            </h3>
            <p class="congrats-text">
              FRM Exam Part I: 40.6% | FRM Exam Part II: 53.3%
            </p>
    
            <p class="congrats-text-secondary">
              <a class="common-link" title="Find out who passed the May 2017 FRM Exam" routerLink="/frm/our-passed-frms/frm1/2018-05-19">
                May 2018 FRM Exam Part I pass list
              </a>
            </p>
            <p class="congrats-text">
              <a class="common-link" title="Find out who passed the May 2018 FRM Exam" routerLink="/frm/our-passed-frms/frm2/2018-05-19">
                May 2018 FRM Exam Part II pass list
              </a>
            </p>
    
            <h3 class="congrats-title">
              <strong>FRM PART I</strong> HISTORICAL PASS RATE 2016-2018
            </h3>
            <p class="congrats-text congrats-image-wrapper">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2016-pt1.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2017-pt1.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2018-pt1.png">
            </p>
    
            <h3 class="congrats-title congrats-title-offset">
              <strong>FRM PART II</strong> HISTORICAL PASS RATE 2016-2018
            </h3>
            <p class="congrats-text congrats-image-wrapper">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2016-pt2.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2017-pt2.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2018-pt2.png">
            </p>
    
            <h3 class="congrats-title">
              <strong>FRM</strong> HISTORICAL PASS RATE 2013-2015
            </h3>
            <p class="congrats-text congrats-image-wrapper">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2013-pt1.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2014-pt1.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2015-pt1.png">
            </p>

            <h3 class="congrats-title">
              <strong>FRM</strong> HISTORICAL PASS RATE 2013-2015
            </h3>
            <p class="congrats-text congrats-image-wrapper">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2013-pt1.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2014-pt1.png">
              <img class="congrats-image" src="/assets/images/frm/pass-rates/2015-pt1.png">
            </p>
          </div>
        </div>
    </div>
    <div class="footer">
      <div class="footer-angle"></div>
      <app-gem
        class="footer-gem"
        type="gem-footer"
        colorType="light-blue"
      ></app-gem>
    </div>
</div>