<ng-template #gemRef>
  <app-gem
    class="main-gem"
    type="gem-5"
    colorType="grey-dark-blue"
    [flipX]="true"
  ></app-gem>
</ng-template>

<ng-template #boxRef>
  <app-about-hero-box-gbi></app-about-hero-box-gbi>
</ng-template>

<div class="wrapper-bench">
  <app-slide
    imageUrl="../../../../../assets/images/hero-gbi.jpg"
    header="GARP Benchmarking Initiative (GBI)"
    text="
      Addressing the need to conduct global systemic risk studies in a
      rapidly changing and interconnected marketplace.
    "
    [gem]="gemRef"
    [box]="boxRef"
  ></app-slide>

  <p class="main-text-mobile">
    Addressing the need to conduct global systemic risk studies in a
    <br>
    rapidly changing and interconnected marketplace.
  </p>

  <div class="main-box-mobile">
    <ng-container *ngTemplateOutlet="boxRef"></ng-container>
  </div>

  <div class="section-problem">
    <div class="problem">
      <div class="row">
        <div class="col-sm-6 common-content">
          <div class="col-sm-12">
            <div class="common-icon">
              <i class="nc-icon-outline business_chart-bar-33"></i>
            </div>
            <div class="common-icon-title-wrapper">
              <h3 class="common-icon-title">
                Hypothetical Exercises
              </h3>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="common-icon">
              <i class="nc-icon-outline business_hammer"></i>
            </div>
            <div class="common-icon-title-wrapper">
              <h3 class="common-icon-title">
                Stress Testing
              </h3>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="common-icon">
              <i class="nc-icon-outline business_calculator"></i>
            </div>
            <div class="common-icon-title-wrapper">
              <h3 class="common-icon-title">
                Quantitative Impact Studies
              </h3>
            </div>
          </div>
        </div>
        <div class="col-sm-6 common-content">
          <h2 class="common-title">
            The problem
          </h2>
          <p class="common-text">
            The need for regular global financial risk studies presents material challenges.
            Cross-border issues, legal considerations, data gathering complexities and
            consistency and speed of analysis, among other things, all affect systemic risk studies.
            This is an especially difficult proposition if the implementation process has to be
            reinvented for each study.  GBI addresses these issues by providing an  independent,
            non-partisan platform from which to conduct cross-border, regional or other studies
            in an efficient, secure and accurate way.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-rationale">
    <div class="rationale-angle"></div>
    <div class="rationale">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="common-title">
            GBI rationale
          </h2>
          <div class="rationale-list-wrapper">
            <ul class="rationale-list">
              <li>
                <p class="common-text">
                  Financial service organizations are multinational and markets
                  are cross-border and interconnected, but regulatory and political
                  systems are nation-based, requiring an analytic capability to overcome
                  the challenges presented by this dynamic.
                </p>
              </li>
              <li>
                <p class="common-text">
                  Systemic risk issues require analysis of data across borders without
                  regard to jurisdiction or political concerns and to help ensure common
                  understanding(s) of study requirements.
                </p>
              </li>
              <li>
                <p class="common-text">
                  GBI works across borders and in direct consultation with all stakeholders, reducing
                  operational risks and producing greater accuracy of results and speed of analysis.
                </p>
              </li>
              <li>
                <p class="common-text">
                  A secure data collection and dissemination system and pre-agreed confidentiality protocols
                  allows for multiple studies to be conducted in parallel with participant data anonymity.
                </p>
              </li>
              <li>
                <p class="common-text">
                  Having institutional knowledge housed in a centralized data repository and independent
                  analytic entity reduces operational risks and inaccurate results, allows for robust data
                  validation and cost savings.
                </p>
              </li>
              <li>
                <p class="common-text">
                  GBI provides financial organizations with the ability to benchmark their risk
                  management processes versus their peers.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 common-content">
          <div class="col-sm-12">
            <div class="common-icon">
              <i class="nc-icon-outline files_archive-paper-check"></i>
            </div>
            <div class="common-icon-title-wrapper">
              <h3 class="common-icon-title">
                Over 30 cross–border studies completed
              </h3>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="common-icon">
              <i class="nc-icon-outline business_bank"></i>
            </div>
            <div class="common-icon-title-wrapper">
              <h3 class="common-icon-title">
                Over 70 Participating Banks and other industry members
              </h3>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="common-icon">
              <i class="nc-icon-outline ui-1_analytics-88"></i>
            </div>
            <div class="common-icon-title-wrapper">
              <h3 class="common-icon-title">
                Quantitative and Qualitative Studies
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="rationale-image" src="/assets/images/gbi-gem.png" alt="">
  </div>
</div>

<!-- Google & Pardot Tracking partial -->
<!--<div data-ng-include data-src="'../partials/snippet.html'"></div>-->
<!-- END Google & Pardot Tracking partial -->
