@import "../../../../../style-variables";

$icon-width: 90px;

.section {
  &-problem {
    position: relative;
    margin-top: 2rem;
  }

  &-rationale {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 6rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }

    @media (min-width: 1440px) {
      padding-bottom: 20rem;
    }
  }
}

.main {
  &-gem {
    display: none;
    margin-top: 2rem;
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 3;

    @media (min-width: 1080px) {
      display: block;
    }
  }

  &-text {
    &-mobile {
      display: block;
      font-size: 1rem;
      font-weight: lighter;
      line-height: 1.5;
      margin-top: 2rem;
      padding: 0 15px;

      @media (min-width: 600px) {
        display: none;
      }
    }
  }

  &-box {
    &-mobile {
      @include common-hero-box-mobile;
    }
  }
}

.problem {
  @include common-section;
  margin-top: 0;
}

.rationale {
  @include common-section;
  margin-top: 6rem;

  &-angle {
    @include common-angle;

    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-list {
    padding: 0;
    margin: 0;

    &-wrapper {
      margin-top: 3rem;
    }

    li {
      @include common-rainbow-list;
      padding-left: 32px;
      position: relative;

      &:not(:first-child) {
        margin-top: 4rem;
      }
    }
  }

  &-image {
    max-width: 100%;
    margin-top: 2rem;
    z-index: 3;

    @media (min-width: $s-w-md) {
      position: absolute;
      right: 0;
      bottom: 250px;
      max-width: 350px;
    }

    @media (min-width: 975px) {
      bottom: 100px;
      max-width: 500px;
    }

    @media (min-width: 1400px) {
      bottom: 75px;
      max-width: 650px;
    }
  }
}

.common {
  &-icon {
    width: $icon-width;
    display: inline-block;
    vertical-align: middle;

    > i {
      font-size: 45px;
      background-color: transparent;
    }

    &-title {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      margin: 0;

      @media (min-width: $s-w-md) {
        font-size: 1.5rem;
      }

      &-wrapper {
        width: calc(100% - #{$icon-width} - 5px);
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &-title {
    @include common-title;
  }

  &-text {
    @include common-text;
    margin-top: 1rem;
  }

  &-content {
    margin-top: 6rem;

    > .col-sm-12:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
