<ng-template #gemRef>
  <img class="slide-gem" src="/assets/images/membership-big-gem.svg">
</ng-template>

<div class="wrapper">
  <app-slide
    imageUrl="/assets/images/membership-index-bg.webp"
    header="Membership"
    subHeader="Welcome to the world's most influential risk community."
    [subHeaderWidth]="widthTypes.medium"
    button="Join Now"
    [gem]="gemRef"
  ></app-slide>

  <div class="section-benefits">
    <img class="img-responsive benefits-image" src="/assets/images/network-circles.svg">
    <div class="benefits">
      <div class="row text-center">
        <div class="col-sm-12">
          <h2 class="common-title">
            Benefits of membership
          </h2>
          <p>
            We support our Members at every stage of their careers, and
            provide them with an ever-growing list of products, services,
            and opportunities not available anywhere else.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <div class="benefits-list-wrapper">
            <ul class="benefits-list">
              <li>
                <h3>PREMIUM CONTENT</h3>
                <p>Access to premium content on multiple channels, such as whitepapers and webcasts</p>
              </li>
              <li>
                <h3>DISCOUNTS</h3>
                <p>Discounts on GARP products and services</p>
              </li>
              <li>
                <h3>CONNECTIONS</h3>
                <p>Exclusive networking opportunites</p>
              </li>
              <li>
                <h3>DEALS</h3>
                <p>Preferential rates for the GARP Risk Convention</p>
              </li>
              <li>
                <h3>EVENTS</h3>
                <p>Admission to GARP premium events</p>
              </li>
              <li>
                <h3>OFFERS</h3>
                <p>Special offers from our corporate partners</p>
              </li>
            </ul>
            <a
              class="common-button"
              href="https://my.garp.org/sfdcApp#!/public_registration/individual"
              target="_blank"
            >
              BECOME A MEMBER
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-exclusive">
    <app-gem
      class="exclusive-gem"
      type="gem-1"
      colorType="dark-purple"
    ></app-gem>
    <div class="exclusive-angle"></div>
    <div class="exclusive">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="common-title">
            Exclusive offers
          </h2>
          <p class="exclusive-text">
            Add value to your Individual Membership
          </p>
        </div>
      </div>
      <div class="row exclusive-box-wrapper">
        <div
          class="col-sm-3 exclusive-box"
          *ngFor="let offer of offers | slice:0:4; let i = index"
          routerLink="/membership/offers"
          [fragment]="offer.name"
        >
          <div class="exclusive-box-element">
            <img
              class="img-responsive exclusive-box-image"
              alt=""
              [src]="offer.logo"
            >
          </div>
          <p class="exclusive-box-text">
            {{ offer.title }}
          </p>
        </div>
      </div>
      <div class="row exclusive-button-wrapper">
        <div class="col-sm-12 text-center">
          <a class="common-button" routerLink="/membership/offers">
            Offer Details
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-community">
    <img src="/assets/images/membership__community-big-gem.webp" class="community-image">
    <div class="community">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2 class="common-title">
            Online Members-only Community
          </h2>
          <h3 class="community-title">
            The newest way to connect with risk professionals the globe.
          </h3>
          <p class="community-text">
            At GARP, we’re known for linking risk practitioners in nearly every
            nation in the world. Now, we’re bringing our Member network online,
            allowing you to ask questions, debate issues, and network wherever,
            whenever.
          </p>
          <div>
            <a class="common-button">
              JOIN FOR ACCESS
            </a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>

  <div class="section-members">
    <div class="members-angle"></div>
    <div class="members">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title text-center">
            What our Members are saying
          </h2>
        </div>
      </div>
      <div class="grid g-u-margin-top--third">
        <div class="col-lg-4 col-md-4 col-sm-6 members-box-wrapper" *ngFor="let testimonial of testimonials">
          <div class="members-box">
            <img
              [src]="testimonial.memberPhoto"
              class="members-box-image"
              alt=""
            >
            <div class="members-box-content">
              <p class="members-box-content-name">
                <strong>
                  {{ testimonial.name }}
                  <span *ngIf="testimonial.eRPCertified">, ERP</span>
                  <span *ngIf="testimonial.fRMCertified">, FRM</span>
                </strong>
              </p>
              <p class="members-box-content-career">
                Individual Member since {{ testimonial.memberSince }}
              </p>
              <p class="members-box-content-quote">
                {{ testimonial.memberSummary.substr(0, 70) }}
                {{ testimonial.memberSummary.length > 70 ? '...' : '' }}
              </p>
            </div>
          </div>
          <div class="members-box-link-wrapper">
            <a class="members-box-link" [routerLink]="['../', 'member', 'testimonials', testimonial.id]">
              <strong>
                View {{ testimonial.name.substr(0, testimonial.name.indexOf(' ')) }}'s spotlight
              </strong>
            </a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a
          class="common-button members-button"
          title="View Member Spotlight"
          routerLink="/membership/spotlight"
        >
          MORE MEMBER TESTIMONIALS
        </a>
      </div>
    </div>
  </div>

  <div class="section-plan">
    <app-gem
      class="plan-gem"
      type="gem-4"
      colorType="dark-purple"
      [flipX]="true"
    ></app-gem>
    <div class="plan">
      <h2 class="common-title">
        Join our community today
      </h2>
      <p class="common-text">
        Becoming a GARP Member is easy. We offer membership at a variety of levels.
      </p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <app-plan-box title="Affiliate" [color]="diamondColors.purple">
            <h1 class="plan-box-title">
              <span>USD</span> 0 <span class="plan-box-title-postfix">/year</span>
            </h1>
            <ul class="plan-box-list">
              <li
                *ngFor="let item of planList; let i = index"
                [ngClass]="{ 'plan-box-list-disable': (i >= affiliateCount) }"
              >
                {{ item }}
              </li>
            </ul>
            <a
              class="common-button"
              href="https://my.garp.org/Login"
              target="_blank"
            >
              Join
            </a>
          </app-plan-box>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <app-plan-box title="Individual Member" [color]="diamondColors.purple">
            <h1 class="plan-box-title">
              <span>USD</span> 195 <span class="plan-box-title-postfix">/year</span>
            </h1>
            <ul class="plan-box-list">
              <li
                *ngFor="let item of planList; let i = index"
                [ngClass]="{ 'plan-box-list-disable': (i >= individualCount) }"
              >
                {{ item }}
              </li>
            </ul>
            <a
              class="common-button"
              href="https://my.garp.org/sfdcApp#!/public_registration/individual"
              target="_blank"
            >
              Join
            </a>
          </app-plan-box>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <app-plan-box title="Certified FRMs / ERPs" [color]="diamondColors.purple">
            <h1 class="plan-box-title">
              <span>USD</span> 195 <span class="plan-box-title-postfix">/year</span>
            </h1>
            <ul class="plan-box-list">
              <li *ngFor="let item of planList; let i = index">
                {{ item }}
              </li>
            </ul>
            <a
              class="common-button"
              href="https://my.garp.org/Login?start=settings_membership"
              target="_blank"
            >
              Join
            </a>
          </app-plan-box>
        </div>
      </div>

      <div class="plan-link-wrapper clearfix">
        Are you a student?
        <a
          class="plan-link"
          title="Check out the benefits of Student Membership"
          [routerLink]="['student']"
        >
          Check out the benefits of Student Membership
        </a>
      </div>
    </div>
  </div>

  <div class="section-compare">
    <app-gem
      class="compare-gem"
      type="gem-5"
      colorType="dark-purple"
      [flipX]="true"
    ></app-gem>
    <div class="compare-angle"></div>
    <div class="compare">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="common-title">
            Compare membership plans
          </h2>
          <p class="common-text">
            Becoming a GARP Member is easy. Whether you are a student, a professional
            in a non-risk role, or a senior manager charged with risk oversight,
            there is a GARP Membership type that meets your needs.
          </p>
          <div class="compare-box">
            <span class="diamond-rhombus diamond-rhombus-small diamond-rhombus-left"></span>
            <span class="diamond-rhombus diamond-rhombus-small diamond-rhombus-right"></span>
            <table class="table table-bordered compare-table">
              <tr class="compare-table-header">
                <th><h3>Benefits</h3></th>
                <th><h3>Affiliate</h3></th>
                <th><h3>Individual</h3></th>
                <th><h3>Certified</h3></th>
              </tr>
              <tr class="compare-table-sub-header">
                <td><h3>Newsletters</h3></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Daily News</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Week in Risk</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Membership Update</td>
                <td class="vertical-borders"></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr class="compare-table-sub-header">
                <td><h3>Expert Knowledge</h3>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Research</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>White papers</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Industry Commentary</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>News</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>GARP webcasts</td>
                <td><span class="compare-table-dot"></span></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Original News and Analysis</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Option to purchase GARP-Wiley Bookstore (USD 75)</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Discount on courses from New York Institute of Finance</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Chapter Meeting presentations</td>
                <td align="center">Open</td>
                <td align="center">Premium</td>
                <td align="center">Premium</td>
              </tr>
              <tr class="compare-table-sub-header">
                <td><h3>Networking</h3>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Members-Only Online Community</td>
                <td></td>
                <td><span class="compare-table-dot"></span></td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Enhanced Search on FRM&#174;|ERP&#174; directory</td>
                <td></td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Connect capability on FRM&#174; | ERP&#174; directory</td>
                <td></td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Career Center job board</td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Special features on Career Center</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr class="compare-table-sub-header">
                <td><h3>Preferential Pricing</h3>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>GARP Events</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Risk Education Courses</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr>
                <td>Career Center postings</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
              <tr class="compare-table-sub-header">
                <td><h3>Association</h3>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Right to Vote on GARP matters (excludes Student Members)</td>
                <td></td>
                <td><span class="compare-table-dot"></span>
                </td>
                <td><span class="compare-table-dot"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-become">
    <app-gem
      class="become-gem"
      type="gem-1"
      colorType="dark-purple"
    ></app-gem>
    <div class="become">
      <div class="row">
        <div class="col-sm-12 become-content">
          <h2 class="common-title">
            Become a Member
          </h2>
          <a
            class="common-button"
            href="https://my.garp.org/sfdcApp#!/public_registration/individual"
            target="_blank"
          >
            JOIN NOW
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Google & Pardot Tracking partial -->
<!--<div data-ng-include data-src="'../partials/snippet.html'"></div>-->
<!-- END Google & Pardot Tracking partial -->
