@import "../../../../../style-variables";

$exclusive-box-height: 55px;
$members-image-size: 64px;
$c-disable: #C1CCCD;

.wrapper {
  .common-button {
    @media (max-width: 600px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.section {
  &-benefits,
  &-community,
  &-plan {
    position: relative;
    margin-top: 6rem;
  }

  &-exclusive,
  &-members,
  &-compare {
    position: relative;
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &-community {
    margin-bottom: 3rem;
  }

  &-members {
    margin-top: 2rem;
  }

  &-compare {
    display: none;
    margin-top: 2rem;

    @media (min-width: $s-w-md) {
      display: block;
    }
  }

  &-become {
    position: relative;
    margin: 2rem 0 9rem;
  }
}

.benefits {
  @include common-section;
  margin-top: 2rem;

  > .row:not(:first-child) {
    margin-top: 2rem;
  }

  &-image {
    width: 80%;
    top: 20px;
    left: 0;
    z-index: 3;

    @media (min-width: 500px) {
      top: 200px;
      width: 48%;
      max-width: 650px;
    }

    @media (min-width: $s-w-md) {
      position: absolute;
    }
  }

  &-list {
    margin: 0;
    padding: 0;

    &-wrapper {
      margin-top: 3rem;
    }

    li {
      @include common-rainbow-list;

      position: relative;
      padding-left: 26px;
      font-size: 13px;
      margin-top: 0;

      &:not(:first-child) {
        margin-top: 3rem;
      }
    }

    h3 {
      margin: 0;
    }

    p {
      margin: .5rem 0 0;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
    }
  }
}

.exclusive {
  @include common-section;
  margin-top: 6rem;

  > .row:not(:first-child) {
    margin-top: 2rem;
  }

  &-gem {
    display: none;
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 3;

    @media (min-width: 1080px) {
      display: block;
    }
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-text {
    margin-top: 2rem;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .7px;
  }

  &-box {
    cursor: pointer;

    &-element {
      height: $exclusive-box-height;
    }

    &-image {
      margin: auto;
      max-height: $exclusive-box-height;
    }

    &-text {
      margin: 2rem 0 0;
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
    }
  }
}

.community {
  @include common-section;
  margin-top: 2rem;

  &-image {
    left: 0;
    top: -70px;
    z-index: 3;
    max-width: 100%;

    @media (max-width: 1320px) and (min-width: $s-w-md) {
      max-width: 45%;
    }

    @media (min-width: $s-w-md) {
      position: absolute;
    }
  }

  &-title {
    margin: 2rem 0 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: .7px;

    @media (min-width: $s-w-md) {
      font-size: 1.5rem;
    }
  }

  &-text {
    margin: 2rem 0 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .7px;
  }
}

.members {
  @include common-section;
  margin-top: 6rem;

  > .row:not(:first-child) {
    margin-top: 2rem;
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: -15px;
    padding: 0 10px;

    &-wrapper {
      margin-top: 6rem;
    }

    &-image {
      border: 2px solid $c-dark-purple-secondary;
      height: $members-image-size;
      width: $members-image-size;
      display: block;
      padding: 0;
      border-radius: 50%;
    }

    &-content {
      flex: 1 0 0;
      padding: 0 15px;

      &-name {
        font-size: 1rem;
        line-height: 1.5;
        border-bottom: 2px solid $c-main-dark;
        padding-bottom: 6px;
        margin-bottom: 6px;
      }

      &-career {
        font-size: .8rem;
        line-height: 1.5;
        letter-spacing: .7px;
        font-weight: lighter;
      }

      &-quote {
        margin: 2rem 0 0;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: .7px;
      }
    }

    &-link {
      @include common-link;
      padding-left: 65px;

      &-wrapper {
        width: 100%;
        margin: 2rem 0 0;
      }
    }
  }
}

.plan {
  @include common-section;
  margin-top: 6rem;
  text-align: center;

  > .row {
    margin-top: 2rem;

    > div {
      @media (max-width: 990px) {
        max-width: 360px;
        margin: auto;
        float: none;
        display: block;
      }

      &:not(:first-child) {
        @media (max-width: 990px) {
          margin-top: 2rem;
        }
      }
    }
  }

  &-gem {
    @include common-gem;
    right: 0;
    top: -210px;
  }

  &-link {
    @include common-link;
    font-weight: bold;

    &-wrapper {
      @include common-text;
      font-weight: normal;
      margin-top: 3rem;
    }
  }

  &-box {
    &-title {
      margin: 0;

      &-postfix {
        font-weight: normal;
      }
    }

    &-list {
      margin: 2rem 0 0;
      text-align: left;

      li {
        @include common-rainbow-list;
        position: relative;
        font-size: 13px;
        padding-left: 26px;

        &:not(:first-child) {
          margin-top: .3rem;
        }
      }

      &-disable {
        color: $c-disable;
      }
    }
  }
}

.compare {
  @include common-section;
  @include common-diamond($c-dark-purple);
  margin-top: 6rem;
  text-align: center;

  &-gem {
    @include common-gem;
    left: 0;
    top: -150px;
  }

  &-angle {
    @include common-angle;

    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-box {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 2rem;
  }

  &-table {
    text-align: left;
    border: solid thin $c-dark-purple-secondary;
    margin: 0;

    &-header {
      border-bottom: thin solid $c-dark-purple-secondary;

      th {
        text-align: center;
        padding: .5rem 0;

        &:first-child {
          padding-left: 7rem;
          text-align: left;
        }

        h3 {
          margin: 0;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: .7px;
        }
      }
    }

    &-sub-header {
      h3 {
        margin-top: 1rem;
        font-weight: bold;
      }
    }

    &-dot {
      display: block;
      margin: auto;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $c-dark-purple;
    }

    tr {
      padding-left: 0;
      margin: 0;

      &:nth-child(odd) {
        background-color: $c-light-white;
      }

      &:first-child {
        background-color: #FFFFFF;
      }

      td:not(.compare-table-sub-header) {
        font-size: .875rem;
      }
    }

    td, th {
      vertical-align: middle;
      border-right: solid thin $c-dark-purple-secondary;
      border-left: solid thin $c-dark-purple-secondary;
      border-top: none;
      border-bottom: none;
    }
  }

  .diamond-rhombus {
    &-left {
      left: 12px;
    }

    &-right {
      left: 30px;
    }

    &-small {
      top: -9px;
    }
  }
}

.become {
  @include common-section;
  margin-top: 6rem;

  &-content {
    margin-top: 3rem;
    text-align: center;
  }

  &-gem {
    @include common-gem;
    right: 0;
    top: -90px;
  }
}

/* to overcover style */
.plan .plan-box-list .plan-box-list-disable:before {
  color: $c-disable;
}

.common {
  &-title {
    @include common-title;
  }

  &-text {
    @include common-text;
  }

  &-button {
    @include main-button;
  }
}

.slide-gem {
  display: none;
  width: 505px;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 3;

  @media (min-width: 1080px) {
    display: block;
  }
}
