.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.background {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: all .4s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    filter: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 11px 24px;
  line-height: 1;
  text-align: right;
  color: #FFFFFF;

  &.blue {
    background-color: rgba(0, 162, 221, .5);
  }

  &.yellow {
    background-color: rgba(132, 156, 58, .5);
  }

  i {
    float: left;
  }
}
