<div class="wrapper">
  <div class="section-slider">
    <carousel>
      <slide>
        <div class="slider">
          <div class="slide">
            <div class="slide-box">
              <div class="slide-image" style="background-image:url(../../../assets/images/slide-timeless-1.png);"></div>
            </div>
            <div class="slide-content"></div>
          </div>
          <div class="slider-angle slider-angle-left"></div>
          <div class="slider-angle slider-angle-right"></div>
        </div>
      </slide>
      <slide>
        <div class="slider">
          <div class="slide">
            <div class="slide-box">
              <div class="slide-image" style="background-image:url(https://www.garp.org/newmedia/slides/home/frm-slide-bg.jpg);"></div>
            </div>
            <div class="slide-content"></div>
          </div>
          <div class="slider-angle slider-angle-left"></div>
          <div class="slider-angle slider-angle-right"></div>
        </div>
      </slide>
      <slide>
        <div class="slider">
          <div class="slide">
            <div class="slide-box">
              <div class="slide-image" style="background-image:url(https://www.garp.org/newmedia/slides/home/member-bg.jpg);"></div>
            </div>
            <div class="slide-content"></div>
          </div>
          <div class="slider-angle slider-angle-left"></div>
          <div class="slider-angle slider-angle-right"></div>
        </div>
      </slide>
      <slide>
        <div class="slider">
          <div class="slide">
            <div class="slide-box">
              <div class="slide-image" style="background-image:url(https://www.garp.org/newmedia/slides/home/erp-slide-bg.jpg);"></div>
            </div>
            <div class="slide-content"></div>
          </div>
          <div class="slider-angle slider-angle-left"></div>
          <div class="slider-angle slider-angle-right"></div>
        </div>
      </slide>
      <slide>
        <div class="slider">
          <div class="slide">
            <div class="slide-box">
              <div class="slide-image" style="background-image:url(https://www.garp.org/newmedia/slides/home/about-bg.jpg);"></div>
            </div>
            <div class="slide-content"></div>
          </div>
          <div class="slider-angle slider-angle-left"></div>
          <div class="slider-angle slider-angle-right"></div>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="section-card">
    <h2 class="header">
      We are the world’s leading professional organization for risk managers.
    </h2>
    <div class="row wrapper-card">
      <div class="col-lg-3 col-md-6 col-sm-12 card">
        <div class="card-box card-box-blue">
          <app-gem
            class="gem"
            type="gem-1-small"
            colorType="light-blue"
          ></app-gem>
          <h3 class="card-title">
            <a class="card-title-link"> <!-- TODO: add analytic and navigation -->
              Financial<br> Risk Manager<br> (FRM<small><sup>®</sup></small>)
            </a>
          </h3>
          <p class="card-text">
            The globally recognized standard for those who manage financial risk.
          </p>
          <p class="card-button">
            <a class="card-button-link"> <!-- TODO: add analytic and navigation -->
              Increase your value
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 card">
        <div class="card-box card-box-yellow">
          <app-gem
            class="gem"
            type="gem-1-small"
            colorType="dark-yellow"
          ></app-gem>
          <h3 class="card-title">
            <a class="card-title-link"> <!-- TODO: add analytic and navigation -->
              Energy Risk<br> Professional<br> (ERP<small><sup>®</sup></small>)
            </a>
          </h3>
          <p class="card-text">
            The first and leading global designation for energy professionals.
          </p>
          <p class="card-button">
            <a class="card-button-link"> <!-- TODO: add analytic and navigation -->
              Fuel your career
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 card">
        <div class="card-box card-box-dark">
          <app-gem
            class="gem"
            type="gem-1-small"
            colorType="dark-blue"
          ></app-gem>
          <h3 class="card-title">
            <a class="card-title-link"> <!-- TODO: add analytic and navigation -->
              GARP<br> Benchmarking<br> Initiative (GBI)
            </a>
          </h3>
          <p class="card-text">
            Non-partisan analysis of regulatory quantitative impact studies.
          </p>
          <p class="card-button">
            <a class="card-button-link"> <!-- TODO: add analytic and navigation -->
              Learn More
            </a>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 card">
        <div class="card-box card-box-green">
          <app-gem
            class="gem"
            type="gem-1-small"
            colorType="dark-green"
          ></app-gem>
          <h3 class="card-title">
            <a class="card-title-link"> <!-- TODO: add analytic and navigation -->
              GARP Risk Institute <br>(GRI)
            </a>
          </h3>
          <p class="card-text">
            The global, non-partisan educational voice of risk management.
          </p>
          <p class="card-button">
            <a class="card-button-link"> <!-- TODO: add analytic and navigation -->
              Learn More
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr hr-m-t">

  <div class="section-text">
    <div class="row text-center">
      <div class="col-sm-12">
        <h3 class="text-box">
          GARP featured content is your source for industry news and analysis. Browse our
          <a class="text-box-link">Risk Intelligence articles</a>, <!-- TODO: add navigation and analytic -->
          <a class="text-box-link">video library</a>, <!-- TODO: add navigation and analytic -->
          <a class="text-box-link">white papers</a>, <!-- TODO: add navigation and analytic -->
          <a class="text-box-link">webcasts</a> <!-- TODO: add navigation and analytic -->
          and more.
        </h3>
      </div>
    </div>
  </div>

  <div class="section-tile">
    <article class="col-sm-6 tile tile-alone"> <!-- TODO: ng-repeat="featuredDoc in featuredDocs | limitTo: 1" -->
      <div class="tile-zoom" style="background-image: url('https://www.garp.org/newmedia/logos/default-pattern2.jpg');"></div>
      <a class="tile-box"> <!-- TODO: ng-click="navigate('risk_intelligence_detail_none', {category: featuredDoc.Category__c, subcategory: featuredDoc.Subcategory__c, docId: featuredDoc.Id})" -->
        <figure>
          <img class="tile-image" src="assets/images/blank4.png">
          <figcaption class="tile-content">
            <h4 class="tile-text">
              <small>
                <span>
                  <img src='assets/icons/riskIntelWhite.png'>
                </span>
                <span>
                  featuredDoc Category__c
                  <!--{{featuredDoc.Category__c}}-->
                </span>
              </small>
              featuredDoc Content_Name__c
              <!--{{featuredDoc.Content_Name__c}}-->
            </h4>
            <span class="tile-time">
              <i class="fa fa-clock-o"></i>
              featuredDoc Published_Date__c
              <!--{{featuredDoc.Published_Date__c | date:'fullDate'}}-->
            </span>
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="col-sm-6 tile tile-semi"> <!-- TODO: ng-repeat="featuredDoc in featuredDocs | limitTo: 2 | limitTo: -1" -->
      <div class='tile-zoom' style="background-image:url('https://www.garp.org/newmedia/featured/motivating-banks.jpg');"></div>
      <a> <!-- TODO: navigation + analytic -->
        <figure>
          <img src="assets/images/blank2.png" class="tile-image tile-image-desktop">
          <img src="assets/images/blank1.png" class='tile-image tile-image-mobile'>
          <figcaption class="tile-content">
            <h4 class="tile-text">
              <small>
                <span>
                    <img src='assets/icons/riskIntelWhite.png'>
                </span>
                <span>
                  featuredDoc Category__c
                  <!--{{featuredDoc.Category__c}}-->
                </span>
              </small>
              featuredDoc Content_Name__c
              <!--{{featuredDoc.Content_Name__c}}-->
            </h4>
            <span class="tile-time">
              <i class="fa fa-clock-o"></i>
              featuredDoc Published_Date__c
              <!--{{formatDateEpochText(featuredDoc.Published_Date__c)}}-->
            </span>
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="col-sm-3 tile tile-quarter"> <!-- TODO: ng-repeat="featuredDoc in featuredDocs | limitTo: 3 | limitTo: -1" -->
      <div class='tile-zoom' style="background-image:url('https://www.garp.org/newmedia/featured/combining-continuity.jpg');"></div>
      <a class="tile-box"> <!-- TODO: navigation and analytic -->
        <figure>
          <img class="tile-image" src="assets/images/blank1.png">
          <figcaption class="tile-content">
            <h4 class="tile-text">
              <small>
                <span>
                    <img src='assets/icons/riskIntelWhite.png'>
                </span>
                <span>
                  featuredDoc Category__c
                  <!--{{featuredDoc.Category__c}}-->
                </span>
              </small>
              featuredDoc Content_Name__c
              <!--{{featuredDoc.Content_Name__c}}-->
            </h4>
            <span class="tile-time">
              <i class="fa fa-clock-o"></i>
              featuredDoc Published_Date__c
              <!--{{ formatDateEpochText(featuredDoc.Published_Date__c)}}-->
            </span>
          </figcaption>
        </figure>
      </a>
    </article>
    <article class="col-sm-3 tile tile-quarter">
      <div class='tile-zoom' style="background-image: url('https://embed-ssl.wistia.com/deliveries/2ea8586b6eb6bba73b8836ffc43a387ffd674fae.jpg?image_crop_resized=800x450');"></div>
      <a class="tile-box">
        <figure>
          <img class="tile-image" src="assets/images/blank1.png">
          <figcaption class="tile-content">
            <h4 class="tile-text">
              <small>
                <span>
                  <img src='assets/icons/videoWhite.png'>
                </span>
                <span>
                  video Category__c
                  <!--{{video.Category__c}}-->
                </span>
              </small>
              video Name
              <!--{{video.Name}}-->
            </h4>
            <span class="tile-time">
              <i class="fa fa-clock-o"></i>
              video Published_Date__c
              <!--{{formatDateEpochText(video.Published_Date__c)}}-->
            </span>
          </figcaption>
        </figure>
      </a>
    </article>
  </div>

  <div class="section-text">
    <div class="row text-center">
      <div class="col-sm-12">
        <h3 class="text-box">
          View our objective responses to regulatory inquiries crafted in concert with practitioners from industry leading financial services firms.
        </h3>
        <p class="text-under">
          <a>Click here to view the latest GARP Comment Letters</a>
        </p>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="section-diamond">
    <h2 class="header">
      Learn more about our products and engage with our risk community.
    </h2>
    <div class="row diamond-box">
      <div class="col-md-4 col-sm-12 diamond-wrapper">
        <div class="diamond-card diamond-purple">
          <span class="diamond-rhombus diamond-rhombus-right"></span>
          <span class="diamond-rhombus diamond-rhombus-left"></span>
          <h3 class="diamond-title">
            <a> <!-- TODO: navigation and analytic -->
              GARP <br>Membership
            </a>
          </h3>
          <p class="diamond-text">
            The world's leading professional association for risk practitioners.
          </p>
          <p class="diamond-button">
            <a class="diamond-button-link"> <!-- TODO: navigation and analytic -->
              Take your next step
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 diamond-wrapper">
        <div class="diamond-card diamond-orange">
          <span class="diamond-rhombus diamond-rhombus-right"></span>
          <span class="diamond-rhombus diamond-rhombus-left"></span>
          <h3 class="diamond-title">
            <a> <!-- TODO: navigation and analytic -->
              Foundations<br> of Financial<br> Risk
            </a>
          </h3>
          <p class="diamond-text">
            GARP course covering how banks operate, are governed, and are regulated.
          </p>
          <p class="diamond-button">
            <a class="diamond-button-link"> <!-- TODO: navigation and analytic -->
              Learn the basics
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 diamond-wrapper">
        <div class="diamond-card diamond-grey">
          <span class="diamond-rhombus diamond-rhombus-right"></span>
          <span class="diamond-rhombus diamond-rhombus-left"></span>
          <h3 class="diamond-title">
            <a> <!-- TODO: navigation and analytic -->
              Risk<br> Intelligence
            </a>
          </h3>
          <p class="diamond-text">
            Take advantage of our full archive of articles, research papers, whitepapers, webcasts, podcasts, and video.
          </p>
          <p class="diamond-button">
            <a class="diamond-button-link"> <!-- TODO: navigation and analytic -->
              Start browsing
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 diamond-wrapper">
        <div class="diamond-card diamond-purple">
          <span class="diamond-rhombus diamond-rhombus-right"></span>
          <span class="diamond-rhombus diamond-rhombus-left"></span>
          <h3 class="diamond-title">
            <a>
              Chapters
            </a>
          </h3>
          <p class="diamond-text">
            Members and guests can join our global risk community and attend chapter meetings anywhere in the world.
          </p>
          <p class="diamond-button">
            <a class="diamond-button-link"> <!-- TODO: navigation and analytic -->
              Network in your city
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 diamond-wrapper">
        <div class="diamond-card diamond-orange">
          <span class="diamond-rhombus diamond-rhombus-right"></span>
          <span class="diamond-rhombus diamond-rhombus-left"></span>
          <h3 class="diamond-title">
            <a>
              Financial Risk<br> and<br> Regulation
            </a>
          </h3>
          <p class="diamond-text">
            GARP course that delivers qualitative understanding of risk management practices, governance structures, and regulatory principles.
          </p>
          <p class="diamond-button">
            <a class="diamond-button-link"> <!-- TODO: navigation and analytic -->
              Earn your certificate
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 diamond-wrapper">
        <div class="diamond-card diamond-purple">
          <span class="diamond-rhombus diamond-rhombus-right"></span>
          <span class="diamond-rhombus diamond-rhombus-left"></span>
          <h3 class="diamond-title">
            <a> <!-- TODO: navigation and analytic -->
              Directory
            </a>
          </h3>
          <p class="diamond-text">
            A dynamic tool for finding and connecting with practitioners who have earned their FRM and/or ERP credential.
          </p>
          <p class="diamond-button">
            <a class="diamond-button-link"> <!-- TODO: navigation and analytic -->
              See who is certified
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-footer">
    <div class="footer"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      colorType="dark-and-grey"
    ></app-gem>
  </div>
</div>