@import "../../../../../style-variables";

.common {
  &-title {
    @include common-title;

    @media (max-width: 767px) {
      margin-bottom: 2rem;
    }
  }

  &-text {
    @include common-text;

    &-secondary {
      @include common-text;
      margin: 0;
    }
  }

  &-link {
    @include common-link;
    font-weight: bold;
  }

  &-right {
    @media (min-width: $s-w-md) {
      padding-left: 30px;
      padding-top: 7px;
    }
  }
}

.section {
  &-main {
    @include common-section;
    max-width: 1200px;
    margin-top: 0;

    > .row {
      &:not(:first-child) {
        margin-top: 4rem;

        @media (min-width: $s-w-md) {
          margin-top: 7rem;
        }
      }
    }

    br {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

.path {
  &-box {
    border-left: 2px solid $c-dark-yellow-secondary;
    padding-left: 2rem;

    &:not(:first-child) {
      padding-top: 6rem;

      @media (max-width: 767px) {
        padding-top: 2rem;
      }
    }

    &-title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      max-width: 90%;

      @media (min-width: $s-w-md) {
        font-size: 1.5rem;
      }

      &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 25px;
        background: $c-dark-yellow;
        border: 3px solid $c-dark-yellow-secondary;
        border-radius: 50%;
        margin-top: .625rem;
      }
    }

    &-text {
      margin: 2rem 0 0;
    }
  }
}

.part {
  &-title {
    margin: 6rem 0 0;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 90%;

    @media (min-width: $s-w-md) {
      font-size: 1.5rem;
    }
  }
}

.congrats {
  &-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 5rem 0 0;

    @media (min-width: $s-w-md) {
      font-size: 1.5rem;
    }

    &-offset {
      margin-top: 2rem
    }
  }

  &-text {
    @include common-text;
    margin: 1rem 0 0;

    &-secondary {
      margin-top: 2rem;
    }

    &-grey {
      margin: .5rem 0 0;
      font-size: 1rem;
      line-height: 1.5;
      color: $c-light-grey;
    }
  }

  &-image {
    margin: 0 8px 10px 0;

    @media (min-width: $s-w-md) {
      max-width: 195px;
      margin: 0 10px 12px 0;
    }
  }
}

@include common-footer;
