<div class="wrapper">
  <app-line-title
    title="ERP program and exams"
    type="erp"
    gemColor="dark-yellow"
    sizeType="s"
  ></app-line-title>

  <div class="section-main">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="common-title common-left">
          Overview
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text-secondary">
          Anyone can register to take the exam. ERP Certification is awarded after a candidate has
          successfully completed the ERP Exam Part I and Part II and demonstrated two years of
          relevant work experience. A mandatory
          <a class="common-link" routerLink="/cpd">
            Continuing Professional Development (CPD)
          </a>
          program helps to ensure Certified ERPs remain up to date with industry developments,
          market trends, and best practices.
        </p>
      </div>
    </div>

    <div class="row path">
      <div class="col-sm-5 common-left">
        <h2 class="common-title">
          Path to <br> success
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <div class="path-box-wrapper">
          <div class="path-box">
            <h3 class="path-box-title">
              Register
            </h3>
            <p class="common-text path-box-text">
              Make sure you have your current passport or driver's license with you when you register.
              The name on your government issued identification must be exactly the same as on your
              exam registration. Once you have registered you can log into your GARP account to track your progress.
            </p>
            <!--<a-->
              <!--class="common-button"-->
              <!--ng-if="examInfo.examRegOpenedMonth"-->
              <!--ng-href='{{utilities.getRegistrationURL("erp")}}'-->
            <!--&gt;-->
              <!--Register for ERP-->
            <!--</a>-->
          </div>
          <div class="path-box">
            <h3 class="path-box-title">
              Prepare for the Exam
            </h3>
            <p class="common-text path-box-text">
              GARP offers a number of resources to help you prepare.
              <a class="common-link">
                Learn More
              </a>
            </p>
          </div>
          <div class="path-box">
            <h3 class="path-box-title">
              Pass ERP Exam Part I
            </h3>
          </div>
          <div class="path-box">
            <h3 class="path-box-title">
              Pass ERP Exam Part II
            </h3>
          </div>
          <div class="path-box">
            <h3 class="path-box-title">
              Demonstrate two years of relevant work experience
            </h3>
          </div>
          <div class="path-box">
            <h3 class="path-box-title">
              Maintain your GARP Individual Membership and participate in the CPD Program
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row part">
      <div class="col-sm-5 common-left">
        <h2 class="common-title">
          ERP Exam Part I <br> and Part II
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text-secondary">
          The ERP Exam Part I and Part II are pencil and paper multiple choice exams. They are
          offered solely in English, twice a year in May and November, at approximately
          <a class="common-link">
            90 exam sites
          </a>
          around the world. Please note that if a candidate elects to take Part II on the same
          day as Part I, their Part II Exam will not be graded by GARP unless they first pass Part I.
        </p>

        <h3 class="part-title">
          ERP Exam Part I – 80 Questions <!-- {{activeMaterialsExamInfo.ERP_I_Number_of_Questions__c}} -->
        </h3>
        <p class="common-text">
          The ERP Exam Part I evaluates practical, real-world knowledge about the operation of
          physical energy commodity markets, including the interconnection between production,
          processing, transport, storage, and distribution of crude oil, refined products,
          natural gas, LNG, coal, electricity, and renewable generation. The Part I Exam is
          always offered in the morning and must be completed in four hours or less.
        </p>

        <h3 class="part-title">
          ERP Exam Part II – 60 Questions <!-- {{activeMaterialsExamInfo.ERP_II_Number_of_Questions__c}} -->
        </h3>
        <p class="common-text">
          The ERP Exam Part II builds on concepts from the Part I Exam, emphasizing the
          understanding and application of energy derivatives and how they are applied to
          effectively mitigate risk. Core concepts such as energy price modeling techniques,
          and the assessment of market, credit, and operational risk associated with commercial
          operations are covered from a practical energy market perspective. The Part II Exam
          is always offered in the afternoon and must be completed in four hours or less.
        </p>
        <p class="common-text">
          Please note that if a candidate elects to take the Part II Exam on the same day as the
          Part I Exam, their Part II Exam will not be graded by GARP unless they first pass the Part I Exam.
        </p>

        <h3 class="part-title">
          Scoring and Results
        </h3>
        <p class="common-text">
          There are no penalties for wrong answers. Passing scores are determined by the Energy
          Oversight Committee. Exam results are pass/fail and are emailed approximately six weeks
          after the exam. Candidates will receive quartile results comparing their performance to
          other candidates.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 common-left">
        <h2 class="common-title">
          ERP Exam dates <br> and locations
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text-secondary">
          The ERP Exam will be offered on November 17, 2018 and May 18, 2019 at more than
          <a class="common-link">
            90 sites
          </a>
          around the world.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 common-left">
        <h2 class="common-title">
          Policies and <br> procedures on <br> exam day
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text-secondary">
          To maintain and protect the integrity of the ERP program and ensure a fair exam process
          for all, there are a number of policies and procedures that candidates must comply with.
          Failure to comply may result in suspension or termination from the ERP Program. A full
          list of these is provided in our
          <a class="common-link">FAQs</a>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 common-left">
        <h2 class="common-title">
          The ERP <br> Committee
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text-secondary">
          One of the things that sets the ERP Program apart is its oversight and governance.
          The program is developed by the Energy Oversight Committee comprised of leading
          industry experts and senior energy market practitioners from around the world. The
          ERP curriculum is reviewed and revised annually by the Energy Oversight Committee,
          ensuring it remains aligned with current industry practices and the latest market trends.
        </p>
        <a class="common-link">
          View members of the Energy Oversight Committee.
        </a>
      </div>
    </div>

    <div class="row congrats">
      <div class="col-sm-5 common-left">
        <h2 class="common-title">
          Congratulations
        </h2>
      </div>
      <div class="col-sm-7 common-right">
        <p class="common-text-secondary">
          Congratulations to all who have passed the ERP Exam Part II. You have demonstrated
          the expertise and dedication required to successfully complete the robust and rigorous
          program of study. Individuals who have completed the entire certification process,
          which includes two years of relevant work experience, can be found in our
          <a class="common-link">ERP Directory</a>, <!-- ng-href="{{testPath}}public_directory" -->
          and our most recent recipients can be
          <a class="common-link">found here</a>.
        </p>
        <h3 class="congrats-title">
          May 2018 Exams Pass Rates
        </h3>
        <p class="congrats-text">
          ERP Exam Part I: 50.9% | ERP Exam Part II: 56.4%
        </p>

        <p class="congrats-text-secondary">
          <a class="common-link" title="Find out who passed the May 2017 ERP Exam">
            May 2018 ERP Exam Part I pass list
          </a>
        </p>
        <p class="congrats-text">
          <a class="common-link" title="Find out who passed the May 2018 ERP Exam">
            May 2018 ERP Exam Part II pass list
          </a>
        </p>

        <h3 class="congrats-title">
          <strong>ERP PART I</strong> HISTORICAL PASS RATE 2016-2018
        </h3>
        <p class="congrats-text congrats-image-wrapper">
          <img class="congrats-image" src="/assets/images/2016-pt1.png">
          <img class="congrats-image" src="/assets/images/2017-pt1.png">
          <img class="congrats-image" src="/assets/images/2018-pt1.png">
        </p>

        <h3 class="congrats-title congrats-title-offset">
          <strong>ERP PART II</strong> HISTORICAL PASS RATE 2016-2018
        </h3>
        <p class="congrats-text congrats-image-wrapper">
          <img class="congrats-image" src="/assets/images/2016-pt2.png">
          <img class="congrats-image" src="/assets/images/2017-pt2.png">
          <img class="congrats-image" src="/assets/images/2018-pt2.png">
        </p>

        <h3 class="congrats-title">
          <strong>ERP</strong> HISTORICAL PASS RATE 2011-2015
        </h3>
        <p class="congrats-text congrats-image-wrapper">
          <img class="congrats-image" src="/assets/images/2011.png">
          <img class="congrats-image" src="/assets/images/2012.png">
          <img class="congrats-image" src="/assets/images/2013.png">
          <img class="congrats-image" src="/assets/images/2014.png">
          <img class="congrats-image" src="/assets/images/2015.png">
        </p>
        <p class="congrats-text-grey">
          Prior to 2016, the ERP was offered as a single-part exam.
        </p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-angle"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      colorType="dark-yellow"
    ></app-gem>
  </div>
</div>
