<div class="wrapper">
  <!-- faq loop -->
  <!--<div ng-if="!faqsLoading && faqs.length > 0" ng-repeat="faq in faqs" class="panel g-courses-faq" role="tab" id="heading{{faq.Id}}">-->
    <!--<div class="g-courses-faq__question clearfix">-->
      <!--&lt;!&ndash; <div class="g-courses-faq-icon"><i class="nc-icon-outline {{getFaqIconClass(faq.FAQ_Question__c)}} vermillion"></i></div> &ndash;&gt;-->
      <!--<div class="collapsed"role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{faq.Id}}" aria-expanded="false" aria-controls="collapse{{faq.Id}}" generate-collapse-ga base-label="'courses_' + courseGaName + '_' + getFaqGaName(faq)">-->
        <!--<div class="g-courses-faq-q-content g-u-font-medium">{{faq.FAQ_Question__c}}</div>-->
        <!--<div class="g-courses-faq-caret"><i aria-hidden="true"></i></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div id="collapse{{faq.Id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{faq.Id}}">-->
      <!--<div class="g-courses-faq__answer g-courses-content&#45;&#45;one-m" ng-bind-html="unsafe(faq.FAQ_Answer__c)"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!-- end faq loop -->
  <div *ngIf="!data.length" class="text-center">
    There was a problem loading faqs. Please try again.
  </div>
</div>
