@import "../../../../style-variables";

$c-light: #FFFFFF;
$c-secondary-light: #EDEDEF;
$c-dark-close: #12335D;

.modal {
  &-body {
    padding: 0;

    .navbar-nav {
      display: block;
      float: none;
      background-color: $c-light;
      margin-top: 0;

      > li {
        width: 100%;
        float: left;
      }

      .dropdown {
        padding: 0 10px;

        &-label {
          text-decoration: none;
          color: $c-main-dark;
          padding: 30px 10px 15px 10px;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          background: none;
          cursor: pointer;

          &:hover {
            color: $c-primary-light;
          }

          span {
            float: right;
            font-size: 16px;
            color: $c-main-dark;
          }
        }

        &-list {
          padding-left: 1em;
          display: none;

          li a {
            font-size: 16px;
            font-weight: 600;
            display: block;
            line-height: 1.5;
            background: none;
            text-decoration: none;
            color: $c-main-dark;
            padding: 15px 10px;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-close {
    float: right;

    button {
      border: none;
      background: $c-dark-close;
      color: $c-light;
      height: 70px;
      width: 70px;
      display: block;
      position: relative;
      font-size: 40px;
      line-height: 40px;
      font-weight: 100;
    }
  }
}

.mobile {
  &-sign-in {
    display: inline-block;
    width: calc(100% - 73px);
    vertical-align: bottom;
    padding-left: 1em;
    list-style-type: none;

    li {
      padding: 0;

      a {
        padding: 0;
        line-height: 70px;
        font-size: 20px;
        font-weight: 600;
        color: $c-light;
      }
    }

    &-wrapper {
      width: 100%;
      padding: 0 0 0 10px;
      background-color: $c-primary-light;
    }
  }

  &-search {
    position: relative;
    background: $c-secondary-light;
    color: $c-main-dark;
    padding: 20px 25px 15px 25px;
    min-height: 70px;

    input {
      padding: 0;
      margin: 0;
      background-color: $c-secondary-light;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $c-main-dark;
      box-shadow: none;
      color: $c-main-dark;
      font-size: 16px;

      &:focus, &:active {
        border-bottom: 2px solid $c-secondary-light;
      }
    }

    .glyphicon {
      position: absolute;
      top: 27px;
      right: 25px;
    }
  }

  &-link-dark {
    background-color: $c-main-dark;
    padding: 0 10px;

    a {
      text-decoration: none;
      padding: 30px 10px 15px 10px;
      color: $c-light;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;

      &:hover, &:active {
        background: none;
        color: $c-primary-light;
      }
    }
  }
}

.m-b {
  margin-bottom: 15px;
}

/* Open drop down */
.modal-body .navbar-nav .dropdown {
  &.open {
    background-color: $c-secondary-light;

    .dropdown-list {
      display: block;

      a {
        color: $c-primary-light
      }
    }

    .glyphicon-plus:before {
      content: "\2212";
    }
  }
}
