<div class="modal-body">
  <ul class="nav navbar-nav mobile-nav">
    <li class="no-dropdown mobile-sign-in-wrapper">
      <ul class="mobile-sign-in"> <!-- TODO: mobile-collpase -->
        <li>
          <a>SIGN IN</a> <!-- TODO: add session checking -->
        </li>
      </ul>
      <div class="modal-close">
        <button (click)="hideModal()">X</button>
      </div>
    </li>
    <li class="searchbox">
      <form class="mobile-search" autocomplete="off">
        <input name="q-mobile" type="text" class="form-control" placeholder="SEARCH" >
        <i class="glyphicon glyphicon-search"></i>
      </form>
    </li>
    <li
      class="dropdown"
      (click)="onExpandMenu($event)"
    >
      <a title="FRM" class="dropdown-label">
        FRM <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a routerLink="/frm" title="Overview">Overview</a>
        </li>
        <li>
          <a routerLink="/frm/program-exams" title="Program and Exams">Program and Exams</a>
        </li>
        <li>
          <a routerLink="/frm/fees-payments" title="Fees and Payments">Fees and Payments</a>
        </li>
        <li>
          <a routerLink="/frm/our-certified-frms" title="Our FRMs">Our FRMs</a>
        </li>
        <li>
          <a title="Study Materials">Study Materials</a>
        </li>
        <li>
          <a title="Global Exam Sites">Global Exam Sites</a>
        </li>
        <li>
          <a title="CPD">CPD</a>
        </li>
        <li>
          <a title="F.A.Q.">F.A.Q.</a>
        </li>
        <li> <!-- TODO: ng-if="isRegOpen" -->
          <a title="Register for FRM">
            <strong>Register for FRM</strong>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="dropdown"
      (click)="onExpandMenu($event)"
    >
      <a class="dropdown-label" title="ERP">
        ERP <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a title="Overview">Overview</a>
        </li>
        <li>
          <a title="Program and Exams">Program and Exams</a>
        </li>
        <li>
          <a title="Fees and Payments">Fees and Payments</a>
        </li>
        <li>
          <a title="Our ERPs">Our ERPs</a>
        </li>
        <li>
          <a title="Study Materials">Study Materials</a>
        </li>
        <li>
          <a title="Global Exam Sites">Global Exam Sites</a>
        </li>
        <li>
          <a title="CPD">CPD</a>
        </li>
        <li>
          <a title="F.A.Q.">F.A.Q.</a>
        </li>
        <li> <!-- TODO: ng-if="isRegOpen" -->
          <a title="Register for ERP">
            <strong>Register for ERP</strong>
          </a>
        </li>
      </ul>
    </li>
    <li
      class="dropdown"
      (click)="onExpandMenu($event)"
    >
      <a class="dropdown-label" title="Courses">
        Courses <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a routerLink="/about/foundations-of-financial-risk" title="Foundations">
            Foundations
          </a>
        </li>
        <li>
          <a title="Risk and Regulation">
            Risk and Regulation
          </a>
        </li>
      </ul>
    </li>
    <li
      class="dropdown"
      (click)="onExpandMenu($event)"
    >
      <a class="dropdown-label" title="Membership">
        Membership <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a title="About Membership">About Membership</a>
        </li>
        <li>
          <a title="Networking">Networking</a>
        </li>
        <li>
          <a title="Chapters">Chapters</a>
        </li>
        <li>
          <a title="Career Center">Career Center</a>
        </li>
        <li>
          <a title="Directory">Directory</a>
        </li>
        <li>
          <a title="Exclusive Offers">Exclusive offers</a>
        </li>
      </ul>
    </li>
    <li
      class="dropdown"
      (click)="onExpandMenu($event)"
    >
      <a class="dropdown-label" title="Events">
        Events<span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a title="About Events">About Events</a>
        </li>
        <li>
          <a title="Risk Convention">Risk Convention</a>
        </li>
      </ul>
    </li>
    <li
      class="dropdown"
      (click)="onExpandMenu($event)"
    >
      <a class="dropdown-label" title="Risk Intelligence">
        Risk Intelligence <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a title="Front Page">Front Page</a>
        </li>
        <li>
          <a title="Technology">Technology</a>
        </li>
        <li>
          <a title="Culture & Governance">Culture & Governance</a>
        </li>
        <li>
          <a title="Energy">Energy</a>
        </li>
        <li>
          <a title="Operational">Operational</a>
        </li>
        <li>
          <a title="Credit">Credit</a>
        </li>
        <li>
          <a title="Market">Market</a>
        </li>
        <li>
          <a title="Video Library">Video Library</a>
        </li>
        <li>
          <a title="Comment Letters">Comment Letters</a>
        </li>
        <li>
          <a title="Webcasts">Webcasts</a>
        </li>
        <li>
          <a title="White Papers">White Papers</a>
        </li>
        <li>
          <a title="News">News</a>
        </li>
        <li>
          <a title="Islamic Finance Book">Islamic Finance Book</a>
        </li>
      </ul>
    </li>
    <li class="dropdown m-b">
      <a class="dropdown-label" title="About">
        About<span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul class="dropdown-list">
        <li>
          <a title="About Us">About Us</a>
        </li>
        <li>
          <a title="Board of Trustees">Board of Trustees</a>
        </li>
        <li>
          <a title="Annual Report">Annual Report</a>
        </li>
        <li>
          <a title="Benchmarking Initiative (GBI)">Benchmarking Initiative (GBI)</a>
        </li>
        <li>
          <a title="Risk Institute (GRI)">Risk Institute (GRI)</a>
        </li>
        <li>
          <a title="Risk Manager of the Year">Risk Manager of the Year</a>
        </li>
        <li>
          <a title="Buy Side Risk Managers Forum">Buy Side Risk Managers Forum</a>
        </li>
        <li>
          <a title="Press Room">Press Room</a>
        </li>
        <li>
          <a title="Contact Us">Contact Us</a>
        </li>
      </ul>
    </li>
    <li class="mobile-link-dark">
      <a href="https://my.garp.org/LoginGRA" title="GBI Secure Login">
        GBI Secure Login
      </a>
    </li>
    <li class="mobile-link-dark">
      <a style="padding-bottom: 15px;" title="GARP 中国">
        GARP 中国
      </a>
    </li>
    <li class="mobile-link-dark">
      <a title="Academic Partners">Academic Partners</a>
    </li>
  </ul>
</div>
