<!-- TODO: add n&a to 'a' tags -->

<ng-template #mainRef>
  <app-gem
    class="main-content-gem"
    type="gem-7"
    colorType="dark-and-double-grey-1"
  ></app-gem>
</ng-template>

<ng-template #boxRef>
  <app-about-hero-box-about></app-about-hero-box-about>
</ng-template>

<div class="wrapper-about">
  <app-slide
    imageUrl="../../../../../assets/images/hero.webp"
    header="About GARP"
    subHeader="Our mission"
    text="
      To be the leading professional association for risk managers,
      dedicated to the advancement of the risk profession through education,
      research and the promotion of best practices globally.
    "
    button="Become a Member"
    [gem]="mainRef"
    [box]="boxRef"
  ></app-slide>

  <!-- Hero Copy Displays below hero on mobile -->
  <h2 class="main-content-title-mobile">
    Our mission
  </h2>
  <p class="main-content-text-mobile">
    To be the leading professional association for risk managers,
    dedicated to the advancement of the risk profession through education,
    research and the promotion of best practices globally.
    <a class="main-content-button">
      Become a Member
    </a>
  </p>

  <!-- Drop Candidate Guide below hero at 1040px -->
  <div class="main-box-mobile">
    <ng-content *ngTemplateOutlet="boxRef"></ng-content>
  </div>

  <div class="section-wwd">
    <img class="wwd-image" src="assets/images/about-map.png">
    <div class="wwd">
      <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
          <div class="wwd-content">
            <h2 class="common-title">
              What we do
            </h2>
            <p class="common-text">
              We help the world make better informed risk decisions.
              We educate and inform risk professionals at all levels,
              from those beginning their careers in risk to those leading
              risk programs at the largest financial institutions across the globe,
              to regulators that govern them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-activity">
    <app-gem
      class="activity-gem"
      type="gem-5"
      colorType="dark-and-double-grey-1"
    ></app-gem>
    <div class="activity-angle"></div>
    <div class="activity">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="common-title">
            Professional certification programs
          </h2>
          <p class="common-text">
            GARP sets the global standard in professional certification with the
            Financial Risk Manager (FRM&reg;) and Energy Risk Professional (ERP&reg;) certifications.
            These programs are rigorous and very well respected across the globe.
            By demonstrating expertise and commitment to better risk management practices,
            Certified FRMs and ERPs stand apart in their respective organizations.
          </p>
        </div>
        <div class="col-sm-6">
          <h2 class="common-title">
            GARP Benchmarking Initiative (GBI)
          </h2>
          <p class="common-text">
            In this time of increasing economic globalization and market
            interconnectedness, the causes of and approaches to dealing with
            global systemic risk issues are of immense importance. Banks as well
            as their regulators are in need of ways to appropriately develop,
            implement and analyze studies to test and benchmark bank risk systems
            and approaches. GBI is playing a major and globally unique role in
            analyzing the processes related to hypothetical portfolio exercises,
            quantitative impact studies, and other much needed benchmarking activities.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-education">
    <div class="education">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="common-title">
            Educational programs
          </h2>
          <p class="common-text">
            Everyone has an important role to play in supporting a robust risk culture.
            Whether it is educating an enterprise, or educating financial professionals
            across an entire country, GARP partners with firms and Central Banks to
            deliver foundational and advanced risk awareness programs. Through these
            programs we have enabled tens of thousands of finance professionals globally
            to promote a risk-aware culture.
          </p>
        </div>
        <div class="col-sm-6">
          <h2 class="common-title">
            Connecting risk leadership
          </h2>
          <p class="common-text">
            Ongoing dialog between regulators, practitioners and leading academic experts
            is critical to help better understand and solve for the ever increasing number
            of financial and operational risk challenges facing the world’s markets today.
            It’s important for this kind of dialog to be open, objective and not motivated
            by partisan agenda. We facilitate objective and non-partisan dialogue through
            regularly hosting Global Risk Forums where regulators, practitioners, and
            leading academics collectively and collaboratively address important risk issues.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-standard">
    <app-gem
      class="standard-gem"
      type="gem-4"
      colorType="dark-and-double-grey-2"
    ></app-gem>
    <div class="standard-angle standard-angle-top"></div>
    <div class="standard">
      <div class="row text-center">
        <div class="col-sm-12 standard-text-mobile">
          <h2 class="common-title">
            Connecting the global risk community
          </h2>
          <p class="common-text">
            Addressing risk is a team effort, and with over 150,000 members in
            190 countries and territories – GARP Members are making a difference.
            GARP Membership provides the community with engagement opportunities
            to have a voice in industry research, unparalleled networking opportunities,
            access to risk intelligence, and much, much more. Our conventions,
            together with 28 Chapter Directors representing 20 Chapters in more than
            a dozen countries around the world, give the community the opportunity
            to meet and learn from one another. Additionally, our Continuing Professional
            Development (CPD) program offers risk professionals access to the very latest
            in risk education, paving the way for a clear view of the risk horizon.
          </p>
        </div>
        <div class="col-sm-12 standard-text-mobile">
          <h2 class="common-title">
            Risk Intelligence
          </h2>
          <p class="common-text">
            Keeping up with the ever-evolving risk landscape is challenging, but
            essential for risk professionals and the industry to collectively
            safeguard the world’s financial markets. GARP delivers critical risk
            intelligence: industry surveys, special reports, news, analysis,
            whitepapers, webinars and more, to ensure that the community has the
            very latest intelligence to drive informed decision making.
          </p>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="standard-angle standard-angle-bot"></div>
  </div>

  <div class="section-join">
    <app-gem
      class="join-gem"
      type="gem-6"
      colorType="dark-and-double-grey-3"
    ></app-gem>
    <div class="join">
      <div class="row">
        <div class="col-sm-12 text-center">
        <h2 class="common-title">
          Join our team
        </h2>
        <p class="common-text">
          Want to work alongside some of the brightest minds in the industry?<br> We're
          constantly on the lookout for great talent.<br> If you think you have what it
          takes, send us your resume and cover letter.
        </p>
        <p>
          <a
            class="common-button"
            href="https://www.linkedin.com/jobs/search/?f_C=102176&locationId=OTHERS.worldwide"
            target="_blank"
          >
            View Open Positions
          </a>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
