#epp-hdr {
    background-image: url('../../../../../assets/images/frm/exam-preparation-providers/epp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0;

    .wrapper {
        h1 {
            color: #fff;
            text-align: center;
            font-size: 3.25em;
            margin: 25px 0;
            margin-bottom: 25px;
            font-weight: 500;
        }
    }
}
@import "../../../../../style-variables";

.common {
    &-title {
      @include common-title;
  
      @media (max-width: 767px) {
        margin-bottom: 2rem;
      }
    }
  
    &-text {
      @include common-text;
      margin: 0;
  
      &-secondary {
        @include common-text;
        margin: 0;
        margin-top: 2rem;
      }
    }
  
    &-link {
      @include common-link;
      font-weight: bold;
      display: inline-block;

      &-secondary {
        margin-top: 2rem;
      }
    }
  
    &-right {
      @media (min-width: $s-w-md) {
        padding-left: 30px;
        padding-top: 7px;
      }
    }

    &-button {
      margin-top: 2rem;
      display: block;
      cursor: pointer;
      width: 300px;
      max-width: 100%;
      border-radius: 2px;
      padding: 12px;
      background: #00a2dd;
      border: 2px solid #00a2dd;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      transition: background-color .3s,border-color .3s;
      outline: none;
      font-weight: bold !important;
    }
}

.section {
    &-main {
      @include common-section;
      max-width: 1200px;
      margin-top: 0;
      margin-bottom: 2rem;

      .quarter-links {
        margin-top: 2rem;
          a {
              display: block;
          }
      }
  
      > .row {
        &:not(:first-child) {
          margin-top: 4rem;
  
          @media (min-width: $s-w-md) {
            margin-top: 7rem;
          }
          &.legal {
                font-size: 1rem;
                line-height: 1.5;
                color: #9da7ae;
                font-style: italic;
                margin-top: 2rem !important;
                margin-bottom: 2rem;
            }
        }
      }
  
      br {
        @media (max-width: 767px) {
          display: none;
        }
      }
      ol {
        margin-top: 2rem;
        padding-left: 20px;
      }

      @media(max-width: 767px) {
        p {
          font-size: 14px;
        }
      }
    }
}
ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


.margin-top-0 {
    margin-top: 0;
  }
  .margin-top-1rem {
    margin-top: 1rem;
  }
  .margin-top-2rem {
    margin-top: 2rem;
  }
  .margin-top-5rem {
    margin-top: 5rem;
  }
  .maxw180 {
    max-width: 180px;;
  }
  
  .section-main[_ngcontent-c3] > .row[_ngcontent-c3]:not(:first-child) {
    margin-top: 0;
  }
  