@import "../../../../../style-variables";

.common {
    &-title {
      @include common-title;
  
      @media (max-width: 767px) {
        margin-bottom: 2rem;
      }
    }
  
    &-text {
      @include common-text;
      margin: 0;
  
      &-secondary {
        @include common-text;
        margin: 0;
        margin-top: 2rem;
      }
    }
  
    &-link {
      @include common-link;
      font-weight: bold;
      display: inline-block;

      &-secondary {
        margin-top: 2rem;
      }
    }
  
    &-right {
      @media (min-width: $s-w-md) {
        padding-left: 30px;
        padding-top: 7px;
      }
    }

    &-button {
      margin-top: 2rem;
      display: block;
      cursor: pointer;
      width: 300px;
      max-width: 100%;
      border-radius: 2px;
      padding: 12px;
      background: #00a2dd;
      border: 2px solid #00a2dd;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      transition: background-color .3s,border-color .3s;
      outline: none;
      font-weight: bold !important;
    }
  }

.section {
  &-main {
    @include common-section;
    max-width: 1200px;
    margin-top: 0;

    > .row {
      &:not(:first-child) {
        margin-top: 4rem;

        @media (min-width: $s-w-md) {
          margin-top: 7rem;
        }
      }
    }

    br {
      @media (max-width: 767px) {
        display: none;
      }
    }
    ol {
      margin-top: 2rem;
      padding-left: 20px;
    }
  }
  .study-wrapper {
    margin-top: 5rem;
    }
}

.book-wrapper {
    h3 {
        font-weight: 500;
        line-height: 1.3;
        text-transform: uppercase;
    }
    h4 {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
    }
    img {
        max-width: 300px;
    }
    p {
        margin-bottom: 0;
        font-size: 1rem;
        line-height: 1.5;
    }
    &.guide {
        img {
            max-width: 100%;
        }
    }
}



.bullets-colored  {
  ul {
    margin-top: 2rem;
  }
  li {
    position: relative;
    padding-left: 32px;
    font-size: 1em;
    list-style-type: none;
  }
  li:before {
    display: block;
    font-size: 1.75rem;
    position: absolute;
    left: 0px;
    top: -10px;
    content: "\2022";
    color: #E0EAEB;
  }
  &-blue {
    li:nth-child(4n + 1):before {
      color: #00a2dd;
    }
    li:nth-child(4n + 2):before {
      color: #006c99;
    }
    li:nth-child(4n + 3):before {
      color: #f05123;
    }
    li:nth-child(4n + 4):before {
      color: #c44826;
    } 
  }
  &-green {
    li:nth-child(4n + 1):before {
      color: #b8258f;
    }
    li:nth-child(4n + 2):before {
      color: #7f236e;
    }
    li:nth-child(4n + 3):before {
      color: #b0c636;
    }
    li:nth-child(4n + 4):before {
      color: #849c3a;
    } 
  }
}

.margin-top-0 {
  margin-top: 0;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-top-2rem {
  margin-top: 2rem;
}
.margin-top-5rem {
  margin-top: 5rem;
}
.margin-top-7rem {
  margin-top: 7rem;
}
.maxw180 {
  max-width: 180px;;
}

@include common-footer;
.footer {
  margin-top: 0;
}

@media(max-width: 767px) {
  .common-text {
    font-size: 14px;
  }
  .book-wrapper h3 {
    font-size: 1.2rem;
  }
  .common-button {
    width: 100%;
  }
  .footer {
    padding-top: 8rem;
  }
}