<div class="wrapper">
  <app-line-title
    [title]="appLine.title"
    [type]="appLine.type"
    [gemColor]="appLine.color"
  ></app-line-title>

  <div class="testimonial" *ngIf="testimonial">
    <div class="row">
      <div class="col-sm-2" *ngIf="testimonial.memberPhoto">
        <img
          class="img-responsive testimonial-img"
          [src]="testimonial.memberPhoto"
          [alt]="testimonial.name"
          [title]="testimonial.name"
        >
      </div>
      <div class="col-sm-10">
        <h3 class="testimonial-title">
          {{ testimonial.name }}
        </h3>
        <p class="testimonial-info">
          <strong>
            {{ testimonial.city ? testimonial.city + ', ' : '' }}
            {{ testimonial.country }}
          </strong>
        </p>
        <p class="testimonial-info">
          <strong>
            Job at time of interview:
          </strong>
          {{ testimonial.job }}
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-12 testimonial-faq"
        *ngFor="let faq of testimonialFAQ"
      >
        <h3 class="testimonial-faq-question">
          {{ faq.question }}
        </h3>
        <p class="testimonial-faq-answer">
          {{ faq.answer }}
        </p>
      </div>
      <p class="col-xs-12 testimonial-button-wrapper">
        <a
          class="testimonial-button"
          [title]="buttonOptions.title"
          [routerLink]="buttonOptions.link"
          [fragment]="buttonOptions.fragment"
        >
          {{ buttonOptions.title }}
        </a>
      </p>
    </div>
  </div>

  <div class="footer">
    <div class="footer-angle"></div>
    <app-gem
      class="footer-gem"
      type="gem-footer"
      [colorType]="appLine.color"
    ></app-gem>
  </div>
</div>
