@import "../../../style-variables";

.testimonial {
  @include common-section;
  max-width: 1200px;
  margin-top: 0;

  &-title {
    @include common-title;

    @media (max-width: 767px) {
      margin-top: 2rem;
    }
  }

  &-img {
    width: 100%;
  }

  &-info {
    margin: .5rem 0 0;
  }

  &-faq {
    margin-top: 3rem;

    &-question {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-answer {
      margin-top: 2rem;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
    }
  }

  &-button {
    @include main-button;
    padding: 15px;
  }
}

@include common-footer;
