@import "./app/styles/common";

$c-main-dark: #081A31;
$c-primary-light: #00A2DD;
$c-title-light: #9DA7AE;

$c-light-blue: #00A2DD;
$c-light-blue-secondary: #006C99;
$c-dark-yellow: #B0C636;
$c-dark-yellow-secondary: #849C3A;
$c-dark-blue: #006C99;
$c-dark-blue-secondary: #081A31;
$c-dark-green: #00A551;
$c-dark-green-secondary: #006738;
$c-dark-purple: #B8258F;
$c-dark-purple-secondary: #7F236E;
$c-dark-orange: #F05123;
$c-dark-orange-secondary: #C44826;
$c-light-grey: #9DA7AE;
$c-light-grey-secondary: #9DA7AE;
$c-light-green: #00AB91;
$c-dirty-white: #CBD5D6;
$c-light-white: #F2F3F4;
$c-light-yellow: #FDB515;
$c-light-yellow-secondary: #CE9126;
$c-light-cyan: #00AB91;
$c-light-cyan-secondary: #00876E;
$c-dark-cyan: #105345;

$font-size-list: 1em;

$s-w-lg: 1074px;
$s-w-md: 768px;
