<div class="wrapper">
  <div class="hero">
    <div class="row">
      <div class="col-xs-12 hero-table">
        <div class="hero-cell">
          <img src="/assets/images/logo-white.svg" class="img-responsive hero-image">
        </div>
      </div>
    </div>
    <div class="hero-angle hero-angle-left"></div>
    <div class="hero-angle hero-angle-right"></div>
  </div>

  <div class="intro">
    <div class="row">
      <div class="col-xs-12">
        <div class="intro-diamonds">
          <span class="diamond-rhombus diamond-rhombus-small diamond-rhombus-left"></span>
          <span class="diamond-rhombus diamond-rhombus-small diamond-rhombus-right"></span>
        </div>
        <p class="intro-text">
          The GARP Risk Institute (GRI) helps leaders in the commercial and regulatory
          sectors effectively manage risk.  As the research and thought leadership arm
          of GARP, GRI looks at risk management trends and emerging challenges to better
          connect policy to efficient business practices that protect the enterprise.
          Launched in 2018 under the leadership of Mark Carey and Jo Paisley, former
          regulators in the US and UK respectively, the Institute examines critical
          issues by producing neutral, fact-based analysis and convening stakeholders
          to assess and propose impactful approaches.
        </p>
      </div>
    </div>
  </div>

  <div class="section-articles">
    <div class="articles-angle"></div>
    <div class="articles">
      <div class="row">
        <h2 class="common-title text-center">
          Articles and Comment Letters
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-6">
          <img class="img-responsive" src="/assets/images/featured-article.jpg">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="articles-headerline">
            <h4 class="articles-headerline-title">
              Featured Article
            </h4>
            <hr>
          </div>
          <h3 class="articles-title">
            Model Risk Management at the Crossroads: Meeting New Demands with Limited Resources
          </h3>
          <p class="articles-text">
            The number of models used by financial firms has risen significantly. This reflects
            many factors, such as regulatory requirements and the opportunities offered by advanced
            analytics to improve firms&rsquo; performance. Models are used to address a wide range of
            issues, from meeting regulatory requirements to identifying potential new customers and more.
          </p>
          <div class="col-sm-12 col-md-6 articles-button-wrapper">
            <a class="common-button">
              Read Article
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-6 articles-image-pull-right">
          <img class="img-responsive" src="/assets/images/comment-letter.jpg">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="articles-headerline">
            <h4 class="articles-headerline-title">
              Featured Comment Letter
            </h4>
            <hr>
          </div>
          <h3 class="articles-title">
            GARP Risk Institute (GRI) Response to BCBS Consultation on Stress Testing Principles
          </h3>
          <p class="articles-text">
            The revised Stress Testing Principles offer a more streamlined approach than the original
            one. The updated principles are sensible and comprehensive, and they provide a guide to
            both banks and authorities on how to implement stress testing regimes that add meaningfully
            to risk management.
          </p>
          <div class="col-sm-12 col-md-6 articles-button-wrapper">
            <a
              class="common-button-white"
              href="http://go.garp.org/l/39542/2018-04-17/8bgx6y/39542/156590/GARP_response_to_BCBS_consultation_032318.pdf"
              download
            >
              Download Comment Letter
            </a>
          </div>
          <div class="col-sm-12 col-md-6 articles-button-wrapper">
            <a class="common-button">
              VIEW ALL
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-leadership">
    <div class="leadership">
      <div class="row">
        <h2 class="common-title text-center">
          Leadership
        </h2>
        <div class="leadership-grid">
          <div class="col-md-4">
            <div class="leadership-box">
              <span class="diamond-rhombus diamond-rhombus-left"></span>
              <span class="diamond-rhombus diamond-rhombus-right"></span>
              <img src="/assets/images/mark.jpg" class="img-responsive leadership-box-image">
              <h3 class="leadership-name">
                Mark Carey
              </h3>
              <p class="leadership-box-text">
                Co-President
              </p>
              <p class="leadership-box-text">
                Mark Carey was Associate Director in the Division of International Finance at the
                Federal Reserve Board in Washington, DC, leading some of the Board's work on issues
                related to financial stability.
              </p>
              <div class="leadership-box-footer">
                <a class="common-button">
                  Read full bio
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="leadership-box">
              <span class="diamond-rhombus diamond-rhombus-left"></span>
              <span class="diamond-rhombus diamond-rhombus-right"></span>
              <img src="/assets/images/jo.jpg" class="img-responsive leadership-box-image">
              <h3 class="leadership-name">
                Jo Paisley
              </h3>
              <p class="leadership-box-text">
                Co-President
              </p>
              <p class="leadership-box-text">
                Jo Paisely&rsquo;s career began at the Bank of England where she worked in various economist
                roles, ran the Statistics Division and spent the last part of her career in Supervision.
              </p>
              <div class="leadership-box-footer">
                <a class="common-button">
                  Read full bio
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!--Inquiries Section -->
  <div class="section-inquiries">
    <div class="inquiries-angle"></div>
    <div class="inquiries">
      <div class="row">
        <div class="col-sm-12">
          <i class="nc-icon-outline ui-1_email-83 inquiries-icon"></i>
          <h2 class="common-title">
            Inquiries
          </h2>
          <p class="inquiries-text">
            For questions or to learn more about GRI, please contact our team.
          </p>
          <a
            href="mailto:RiskInstitute@garp.com?subject=Risk Institute Inquiry"
            class="common-button inquiries-button"
          >
            CONTACT US
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Google & Pardot Tracking partial -->
<!--<div data-ng-include data-src="'../partials/snippet.html'"></div>-->
<!-- END Google & Pardot Tracking partial -->
