@import "../../../style-variables";

.common {
  &-title {
    @include common-title;
  }

  &-button {
    @include main-button;

    &-white {
      @include common-button-white;
    }
  }
}

.section {
  &-articles {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
    background-color: $c-light-white;

    @media (min-width: $s-w-md) {
      margin-top: 6rem;
    }

    @media (min-width: 600px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  }

  &-leadership {
    margin-top: 2rem;
  }

  &-inquiries {
    position: relative;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $c-light-white;

    @media (min-width: 600px) {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
}

.hero {
  background-color: $c-main-dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/images/header-bg.jpg);
  position: relative;
  text-align: center;
  padding: 0 15px;
  height: 575px;

  &-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  &-cell {
    height: 375px;
    display: table-cell;
    vertical-align: middle;
  }

  &-image {
    display: inline-block;
  }

  &-angle {
    @include common-angle;

    &-left {
      background-image: url(/assets/images/diagonal-white-bottom-reverse.svg);
      top: auto;
      bottom: -2px;
      background-position: bottom;

      @media (min-width: 992px) {
        bottom: -60px;
        z-index: 1;
      }
    }

    &-right {
      background-image: url(/assets/images/diagonal-white-bottom.svg);
      bottom: -2px;
      top: auto;
      background-position: bottom;

      @media (min-width: 992px) {
        bottom: -60px;
        z-index: 1;
      }
    }
  }
}

.intro {
  @include common-diamond($c-dark-green);
  @include common-section;
  margin-top: 0;
  max-width: 880px;
  text-align: center;

  &-diamonds {
    display: inline-block;
    position: relative;
  }

  &-text {
    @include common-text;
    font-weight: normal;
    max-width: 900px;

    @media (min-width: $s-w-md) {
      font-size: 1.5rem;
    }
  }

  .diamond-rhombus {
    z-index: 5;

    &.diamond-rhombus-left {
      top: 0;
      left: -18px;
    }

    &.diamond-rhombus-right {
      top: 0;
      left: 0;
    }
  }
}

.articles {
  @include common-section;
  margin-top: 2rem;
  max-width: 1300px;

  @media (max-width: 991px) {
    max-width: 600px;
  }

  > .row {
    &:nth-child(2) {
      margin-top: 2rem;
    }

    &:nth-child(3) {
      @media (min-width: $s-w-md) {
        margin-top: 3rem;
      }
    }

    > div {
      margin-top: 1rem;
    }
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-headerline {
    display: inline-block;

    &-title {
      color: $c-main-dark;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    hr {
      border: 2px solid $c-main-dark;
      margin: 5px 0;
    }
  }

  &-title {
    margin-top: 1rem;
    font-weight: bold;
  }

  &-text {
    margin: 1rem 0 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .7px;
  }

  &-button-wrapper {
    margin-top: 2rem;

    @media (min-width: 992px) {
      padding-left: 0;
    }

    @media (max-width: 991px) {
      text-align: center;
    }

    a {
      margin-top: 0;
    }
  }

  &-image-pull-right {
    @media (min-width: $s-w-md) {
      float: right;
    }
  }
}

.leadership {
  @include common-section;
  margin-top: 0;

  @media (min-width: $s-w-md) {
    margin-top: 3rem;
  }

  &-grid {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > div {
      margin-top: 2rem;
      padding: 15px;
    }
  }

  &-box {
    @include common-diamond($c-dark-green);
    min-height: 675px;
    padding: 25px 25px 100px 25px;
    border: 2px solid $c-dark-green-secondary;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
    position: relative;

    @media (max-width: 767px) {
      max-width: 350px;
      margin: 0 auto;
    }

    &-name {
      margin-top: 1rem;
      text-transform: uppercase;
    }

    &-text {
      margin: 1rem 0 0;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .7px;
    }

    &-footer {
      width: 100%;
      position: absolute;
      bottom: 25px;
      left: 0;
      text-align: center;
      text-align-last: center;
      padding: 0 25px;
      margin: 2rem 0 0;

      a {
        margin-top: 0;
      }
    }
  }
}

.inquiries {
  @include common-section;
  margin-top: 2rem;
  text-align: center;

  > .row > .col-sm-12 {
    margin-top: 3rem;
  }

  &-angle {
    @include common-angle;
    background-image: url(/assets/images/diagonal-white-top-reverse.svg);
    bottom: auto;
    top: 0;
    background-position: top;
  }

  &-icon {
    font-size: 3rem;
    color: $c-dark-green-secondary;
  }

  &-text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: .7px;
    margin: .5rem 0 0;
  }

  &-button {
    margin-top: 1rem;
  }
}
