<!-- TODO: add analytics and make address field searchable (make integration with backend)-->

<div class="hero">
  <app-gem
    class="hero-gem"
    type="gem-5-small"
    colorType="dark-purple"
  ></app-gem>
  <h3 class="hero-title">
    SEARCH JOBS
  </h3>
  <p class="hero-text">
    Search open positions around the world by company, title, keyword, or location.
  </p>
  <div class="hero-form-wrapper">
    <form
      class="hero-form"
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      <div class="row">
        <div class="col-sm-12">
          <div class="hero-form-group">
            <div class="hero-input-wrapper">
              <label class="hero-input-label" for="company">
                Company, Job Title, Keywords
              </label>
              <input
                class="hero-input"
                formControlName="company"
                id="company"
                type="text"
              >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="hero-form-group">
            <div class="hero-input-wrapper">
              <label class="hero-input-label" for="address">
                City, State, Country
              </label>
              <input
                class="hero-input"
                formControlName="address"
                id="address"
                type="text"
              >
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="hero-button-wrapper">
            <button class="hero-button">
              Search Jobs
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
