<div class="wrapper">
  <app-line-title
    title="ERP fees and payments"
    type="erp"
    gemColor="dark-yellow"
    sizeType="s"
  ></app-line-title>

  <div class="section-main">
    <div class="row new">
      <div class="col-sm-3 col-md-4">
        <h2 class="common-title">
          New <br> candidate
        </h2>
        <h3 class="common-title-secondary">
          Erp Exam Part I
        </h3>
      </div>
      <div class="col-sm-9 col-md-8 common-left">
        <div class="col-sm-12 new-text"> <!-- ng-if="examFeesInfo.regWindow.currentRegWindow == 'notopen'" -->
          Registration for the November 2018 Exam is now closed. The early registration
          period for the May 2019 Exam will open on December 1, 2018.
        </div>
        <div class="col-sm-4 new-box">
          1
        </div>
        <div class="col-sm-4 new-box">
          2
        </div>
        <div class="col-sm-4 new-box">
          3
        </div>
      </div>
    </div>
  </div>
</div>
